<template>
	<div v-show="visible" :id="`${controlId}-container`" :class="resolvedClasses">
		<date-picker
			:input-attr="{ id: controlId }"
			input-class="mx-input form-control error-border"
			:placeholder="hint"
			:disabled="resolvedDisabled"
			v-model:value="boundDate"
			v-model:open="isOpen"
			valueType="format"
			:format="dateFormat"
			:title-format="dateFormat"
			:clearable="false"
			popup-class="datepicker datepicker-dropdown"
			@open="setPreviousDate"
			@change="onChange"
			@close="onClose"
		>
			<template #footer="{ emit }">
				<div class="date-picker-popup-footer">
					<button class="today-btn mx-btn mx-btn-text" @click="setToday(emit)">Today</button>
					<button class="clear-btn mx-btn mx-btn-text" @click="clear(emit)">Clear</button>
				</div>
			</template>
			<template #icon-calendar>
				<button class="btn btn-default datepicker-btn" :disabled="resolvedDisabled"></button>
			</template>
		</date-picker>
		<span v-show="!validationState.isValid" class="validation-error">{{ validationState.validationMessage }}</span>
	</div>
</template>

<script>
	import { mapState, mapActions } from 'pinia';
	import { useValidationsStore } from '@/stores/validations.js';
	import DatePicker from 'vue-datepicker-next';
	import dayjs from 'dayjs';
	import dayjsHelper from '@/utils/dayjs-helper.js';
	import validatorFunctions from '@/utils/validators.js';

	export default {
		name: 'StadiumDatePicker',
		components: {
			DatePicker
		},

		props: {
			controlId: String,
			date: null,
			hint: String,
			readonly: Boolean,
			visible: Boolean,
			hasChangeEvent: Boolean,
			validators: Array,
			classes: null
		},

		emits: ['change', 'update:date'],

		data() {
			return {
				disabled: this.readonly,
				isOpen: false,
				previousDate: null
			};
		},

		watch: {
			date: {
				handler: function (newDate, _oldDate) {
					if (newDate && !dayjs.isDayjs(newDate)) {
						this.$emit('update:date', dayjs(newDate).dateOnly());
					}
				},
				immediate: true
			},

			validationState: {
				handler: function (newValidationState) {
					if (newValidationState.isValid) {
						this.removeControlIdToValidate(this.controlId);
						this.removeInvalidControlId(this.controlId);
					} else {
						this.addInvalidControlId(this.controlId);
					}
				}
			}
		},

		computed: {
			...mapState(useValidationsStore, ['controlIdsToValidate']),

			boundDate: {
				get() {
					return this.toFormatString(this.date);
				},
				set(value) {
					let newDate = value == null || value == '' ? null : dayjs(value).dateOnly();
					this.$emit('update:date', newDate);
				}
			},

			dateFormat() {
				return dayjsHelper.getDayjsDateFormat();
			},

			resolvedDisabled() {
				return this.readonly || this.disabled;
			},

			resolvedClasses() {
				let resolvedClasses = this.classes;

				if (this.validators.includes('requiredFieldValidator')) resolvedClasses += ' required-indicator';

				if (!this.validationState.isValid) resolvedClasses += ' has-validation-error';

				return resolvedClasses;
			},

			validationState() {
				let validationState = { isValid: true };
				if (!this.controlIdsToValidate.includes(this.controlId)) return validationState;

				if (this.validators.includes('requiredFieldValidator')) {
					validationState = validatorFunctions.requiredFieldValidator(this.boundDate, 'Please select a date');
					if (!validationState.isValid) return validationState;
				}

				return validationState;
			}
		},

		methods: {
			...mapActions(useValidationsStore, ['validateControl', 'addInvalidControlId', 'removeInvalidControlId', 'removeControlIdToValidate']),

			setToday(emit) {
				emit(new Date());
				this.isOpen = false;
			},

			clear(emit) {
				emit(null);
				this.isOpen = false;
			},

			setPreviousDate() {
				this.previousDate = this.date;
			},

			toFormatString(date) {
				if (!date) return null;

				if (dayjs.isDayjs(date)) return date.format(this.dateFormat);

				return dayjs(date).format(this.dateFormat);
			},

			onChange() {
				if (this.hasChangeEvent) {
					this.disabled = true;

					this.$nextTick(function () {
						let previousDateString = this.toFormatString(this.previousDate);
						let selectedDateString = this.toFormatString(this.date);

						if (previousDateString == selectedDateString) {
							this.disabled = false;
						} else {
							this.$emit('change', () => (this.disabled = false), previousDateString, selectedDateString);
						}
					});
				}

				this.validateControl(this.controlId);
			},

			onClose() {
				this.$nextTick(() => this.validateControl(this.controlId));
			}
		}
	};
</script>
