﻿<template>
	<div v-show="visible" :id="`${controlId}-container`" :class="resolvedClasses">
		<slot />
	</div>
</template>

<script>
	export default {
		name: 'StadiumRepeater',

		props: {
			controlId: String,
			listItem: null,
			inline: Boolean,
			visible: Boolean,
			classes: null
		},

		emits: ['itemLoad'],

		computed: {
			resolvedClasses() {
				let resolvedClasses = this.classes;

				if (this.inline) resolvedClasses += ' inline-block-element';
				else resolvedClasses += ' block-element';

				return resolvedClasses;
			}
		},

		mounted() {
			this.$emit('itemload', null, this.listItem);
		}
	};
</script>
