<template>
	<div v-show="visible" :id="`${controlId}-container`" class="grid-item grid-repeater-item">
		<slot />
	</div>
</template>

<script>
	export default {
		name: 'StadiumGridRepeaterItem',

		props: {
			controlId: String,
			listItem: null,
			visible: Boolean
		},

		emits: ['itemload'],

		mounted() {
			this.$emit('itemload', null, this.listItem);
		}
	};
</script>
