﻿<template>
	<div class="login-form-container">
		<Form ref="form" @submit="submitForm">
			<div v-if="loginErrorMessage" class="validation-summary-errors validation-error">
				<ul>
					<li>{{ loginErrorMessage }}</li>
				</ul>
			</div>

			<div class="stack-layout-container">
				<div class="control-container label-container">
					<span>Email</span>
				</div>
			</div>

			<div class="stack-layout-container">
				<Field name="Email" v-model="user.email" v-slot="{ field, errorMessage }" rules="required|email">
					<div :class="errorMessage ? 'has-validation-error' : ''" class="control-container text-box-container">
						<input id="email" ref="emailInputField" v-bind="field" placeholder="Email" type="text" class="form-control error-border" />
						<span class="validation-error">{{ errorMessage }}</span>
					</div>
				</Field>
			</div>

			<div class="stack-layout-container">
				<div class="control-container label-container">
					<span>Password</span>
				</div>
			</div>

			<div class="stack-layout-container">
				<Field name="Password" v-model="user.password" v-slot="{ field, errorMessage }" rules="required">
					<div :class="errorMessage ? 'has-validation-error' : ''" class="control-container text-box-container">
						<div class="password-input-container">
							<input
								id="password"
								v-bind="field"
								:type="showPassword ? 'text' : 'password'"
								placeholder="Password"
								autocomplete="on"
								class="form-control error-border password-control"
							/>
							<span :class="{ 'hide-password-icon': showPassword }" class="show-password-icon" @click="toggleShowPassword"></span>
						</div>

						<span class="validation-error">{{ errorMessage }}</span>
					</div>
				</Field>
			</div>

			<div class="stack-layout-container">
				<div class="control-container link-container">
					<a @click="navigateToResetPassword">Forgot Password</a>
				</div>
			</div>
			<div class="stack-layout-container">
				<div class="control-container label-container">
					<span>{{ canResetPasswordErrorMessage }}</span>
				</div>
			</div>
			<div class="stack-layout-container button-row">
				<div class="control-container button-container">
					<button id="login-button" :disabled="isLoggingIn" type="submit" class="btn btn-lg btn-default">Login</button>
				</div>
			</div>
		</Form>
	</div>
</template>

<script>
	import { Form, Field } from 'vee-validate';

	import { mapState, mapActions } from 'pinia';
	import { useApplicationStore } from '@/stores/application.js';
	import { useAuthenticationStore } from '@/stores/authentication.js';
	import { usePasswordStore } from '@/stores/password.js';

	export default {
		name: 'Login',
		components: {
			Form,
			Field
		},

		props: {
			pageRoute: String
		},

		data() {
			return {
				user: {
					email: null,
					password: null
				},
				showPassword: false,
				isLoggingIn: false,
				isNavigatingToResetPassword: false
			};
		},

		computed: {
			...mapState(useAuthenticationStore, ['isAuthenticated', 'loginErrorMessage']),
			...mapState(usePasswordStore, ['canResetPassword', 'canResetPasswordErrorMessage'])
		},

		mounted() {
			this.$refs.emailInputField.focus();

			const applicationStore = useApplicationStore();
			applicationStore.isAppBusy = false;
		},

		methods: {
			...mapActions(useAuthenticationStore, ['login']),
			...mapActions(usePasswordStore, ['refreshCanResetPassword']),

			async submitForm() {
				this.isLoggingIn = true;

				try {
					await this.login(this.user);

					if (this.isAuthenticated) {
						const applicationStore = useApplicationStore();
						await applicationStore.refreshApplicationState();

						this.resetForm();
						this.$router.push(this.pageRoute ?? '/');
						return;
					}

					this.resetForm();
				} finally {
					this.isLoggingIn = false;
				}
			},

			resetForm() {
				this.user.email = null;
				this.user.password = null;
				this.$refs.form.resetForm();
			},

			async navigateToResetPassword() {
				if (this.isNavigatingToResetPassword) return;
				this.isNavigatingToResetPassword = true;

				try {
					await this.refreshCanResetPassword();

					if (!this.canResetPassword || this.canResetPasswordErrorMessage) return;

					this.$router.push({
						name: 'ResetPassword',
						params: {
							email: this.user.email
						}
					});
				} finally {
					this.isNavigatingToResetPassword = false;
				}
			},

			toggleShowPassword() {
				this.showPassword = !this.showPassword;
			}
		}
	};
</script>
