<template>
	<div class="container">
		<div class="error-page-container">
			<div class="error-content-container">
				<h1 id="error-page-header">Page access not allowed</h1>
				<p id="error-page-message">{{ displayMessage }}</p>
				<p v-if="pageName">
					Page: <span id="error-page-page-name">{{ pageName }}</span>
				</p>
				<router-link to="/" class="btn text-uppercase back-button"> Back to application </router-link>
			</div>
			<div class="error-image unauthorized-error-image"></div>
		</div>
	</div>
</template>

<script>
	import { useApplicationStore } from '@/stores/application.js';

	export default {
		name: 'ForbiddenError',

		props: {
			pageName: String,
			errorMessage: String
		},

		computed: {
			displayMessage() {
				return (
					this.errorMessage ??
					"You don't have any roles that can view this page. If you need to get access to this page, please contact your administrator."
				);
			}
		},

		mounted() {
			const applicationStore = useApplicationStore();
			applicationStore.isAppBusy = false;
		}
	};
</script>
