﻿<template>
	<div class="container">
		<div class="error-page-container">
			<div class="error-content-container">
				<h1 id="error-page-header">404 - This page does not exist</h1>
				<p id="error-page-message">Sorry, but the page you were trying to access does not exist.</p>
				<router-link to="/" class="btn text-uppercase back-button"> Back to application </router-link>
			</div>
			<div class="error-image page-not-found-image"></div>
		</div>
	</div>
</template>

<script>
	import { useApplicationStore } from '@/stores/application.js';

	export default {
		name: 'PageNotFoundError',

		mounted() {
			const applicationStore = useApplicationStore();
			applicationStore.isAppBusy = false;
		}
	};
</script>
