﻿/*General Styles*/
html {
	min-height: 100%;
}

body {
	min-width: 320px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	margin: 0;
}

.container {
	margin-right: auto;
	margin-left: 0;
	margin-bottom: 40px;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 768px) {
	.container {
		width: 100%;
	}

	.col-sm-4 {
		float: left;
	}
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

hr {
	margin: 2px 0;
}

@media (min-width: 992px) {
	.container {
		width: 100%;
	}

	.col-md-3,
	.col-md-6 {
		float: left;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 100%;
	}
}

.stack-layout-container {
	line-height: 1;
}

.control-container {
	margin-top: 10px;
	padding-right: 16px;
	vertical-align: top;
	display: inline-block;
	max-width: 100%;
	line-height: 1.42857143;
}

.grid-layout {
	display: inline-grid;
}

.layout-control {
	vertical-align: top;
	display: inline-block;
	max-width: 100%;
	line-height: 1.42857143;
}

.layout-table-container {
	padding-right: 0;
}

@media (max-width: 480px) {
	.control-container {
		margin-right: 0;
		display: inline-block;
	}

	.control-container.radio-button-list-container,
	.control-container.checkbox-list-container {
		display: inline-block;
	}

	.form-control,
	.required-indicator,
	.date-picker-container,
	.panel {
		max-width: 100%;
		margin-right: 0;
	}

	.upload-file-container {
		max-width: 100% !important;
	}

	.upload-file-container button {
		padding: 8px 4px;
	}

	.password-wrapper,
	.form-group {
		width: 100% !important;
	}

	.form-inline {
		width: auto;
	}

	.upload-file-container-drop-div {
		display: inline;
		width: 100%;
		margin-right: 120px !important;
	}
}

@media (min-width: 768px) {
	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
}

.footer,
.glyphicon,
html {
	position: relative;
}

a:active,
a:hover,
a:focus {
	outline: 0;
}

textarea {
	overflow: auto;
	resize: both;
}

button,
input,
select,
textarea {
	color: inherit;
	font: inherit;
}

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.Draggable {
	cursor: grab;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.container:after,
.container:before,
.modal-footer:after,
.modal-footer:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
	content: ' ';
	display: table;
}

.container:after,
.modal-footer:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.panel-body:after,
.row:after {
	clear: both;
}

p {
	margin: 0 0 10px;
}

/*collapse elements with visibility hidden*/
.control-container.invisible {
	height: 0;
	width: 0;
	margin: 0;
}

.hide-element {
	display: none !important;
}

.block-element {
	display: block;
}

.inline-block-element {
	display: inline-block;
}

.flex-element {
	display: flex;
}

.inline-flex-element {
	display: inline-flex;
}

.row-flex-direction-element {
	flex-direction: row;
}

.column-flex-direction-element {
	flex-direction: column;
}

textarea.form-control {
	height: auto;
}

/*Hack for Firefox MultiLineTextBox*/
textarea.form-control[rows='1'] {
	max-height: 40px;
}

.form-group {
	width: auto;
}

.btn,
.form-inline {
	display: inline-block;
}

.form-inline .btn {
	margin-left: 10px;
	margin-top: 0;
}

.btn,
.checkbox label,
.checkbox-inline,
.radio label,
.radio-inline {
	margin-bottom: 0;
}

.dropdown-menu,
th {
	text-align: left;
}

table {
	background-color: transparent;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
}

ul ul {
	margin-bottom: 0;
}

/*Utility classes*/
.display-inline-block {
	display: inline-block;
}

/* LayoutGridControl start */
.layout-grid-container .row {
	vertical-align: bottom;
}

.layout-grid-container.control-container {
	display: block;
	width: 100%;
}

.layout-grid-container .input-group,
.layout-grid-container .password-wrapper,
.layout-grid-container .form-control,
.layout-grid-container .date-picker-container,
.layout-grid-container .upload-file-container {
	max-width: 100%;
	width: 100%;
}

.layout-grid-container .upload-file-container label {
	display: flex;
	align-items: center;
	padding-top: 0px;
}

.layout-grid-container .control-container {
	margin-top: 6px;
	margin-right: 6px;
	/*when changing the margin-right here also change two references to this below max-width: calc(100% - 6px);*/
}

.layout-grid-container .control-container:not(.menu-container) {
}

.layout-grid-container .control-container.text-box-container,
.layout-grid-container .control-container .drop-down-container,
.layout-grid-container .control-container .date-picker-container,
.layout-grid-container .control-container.panel {
	max-width: calc(100% - 6px);
	width: 100%;
}

.layout-grid-container .control-container .check-box-list-container,
.layout-grid-container .control-container.check-box-list-container,
.layout-grid-container .control-container .radio-button-list-container {
	width: auto;
	max-width: 100%;
}

.control-container.check-box-container.checkbox + .control-container.check-box-container.checkbox {
	margin-top: 0;
	vertical-align: bottom;
}

.layout-grid-container {
	margin-bottom: 6px;
}

.image-container img,
.layout-grid-container .image-container img {
	max-width: 100%;
	max-height: 100%;
}

.layout-grid-container .checkbox {
	width: auto;
	max-width: 100%;
}

.layout-grid-container .button-container .btn,
.layout-grid-container .link-container .btn-link,
.layout-grid-container .checkbox label,
.layout-grid-container .radio label,
.layout-grid-container .checkbox-inline label,
.layout-grid-container .radio-inline label,
.layout-grid-container .control-status-span {
	white-space: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-all;
}

@media (min-width: 992px) and (max-width: 1217px) {
	.layout-grid-container div[class='col-sm-1'] .button-container .btn-lg,
	.layout-grid-container div[class='col-md-1'] .button-container .btn-lg {
		padding: 10px 4px;
	}
}

.layout-grid-container .checkbox label,
.layout-grid-container .radio-inline label,
.layout-grid-container .radio label {
	max-width: 100%;
}

.layout-grid-container .upload-file-container {
	max-width: calc(100% - 6px);
}

.layout-grid-container .control-status-span {
	max-width: 100%;
}

.display-flex {
	display: flex;
}

.width-100-percent {
	width: 100%;
}
/* LayoutGridControl end */

/*DataGrid Control*/
.control-container.data-grid-container {
	max-width: none;
}

.data-grid-container .table {
	width: auto;
}

.data-grid-container > .table > tbody > tr > td,
.data-grid-container > .table > tfoot > tr > td,
.data-grid-container > .table > thead > tr > td {
	padding: 8px;
	vertical-align: middle;
}

.data-grid-container > .table > tfoot > tr > th,
.data-grid-container > .table > tbody > tr > th,
.data-grid-container > .table > thead > tr > th {
	padding: 8px;
	vertical-align: middle;
}

.data-grid-container .table > tbody > tr > td[data-column-name='Selected'] {
	text-align: left !important;
}

.data-grid-container .table > thead:first-child > tr:first-child > th {
	border-top: 0;
}

.data-grid-header .data-grid-export {
	display: inline-block;
	vertical-align: top;
}

.data-grid-header .data-grid-export .btn-link {
	vertical-align: middle;
}

.data-grid-header input.data-grid-search-box {
	padding-right: 25px;
}

.data-grid-header .data-grid-search-button {
	height: 38px;
}

.data-grid-header .clear-filter {
	border: none;
	outline: none;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 0;
	right: 37px;
	margin: 13px 8px 0 0;
	cursor: pointer;
	z-index: 10;
}

.data-grid-header {
	display: flex;
	max-width: 420px;
}

.data-grid-header .input-group {
	flex-grow: 1;
}

.data-grid-container .selection-status-bar {
	height: 0;
	transition: height 0.1s ease;
	position: relative;
	overflow: hidden;
	line-height: 24px;
	width: 0;
}

.data-grid-container .selection-status-bar.show-status-bar {
	height: 24px;
	overflow: visible;
	width: auto;
}

.data-grid-container .selection-status-bar:after {
	position: absolute;
	content: '\25bc';
}

.data-grid-container .selection-status-bar a {
	cursor: pointer;
	text-decoration: underline;
}

.data-grid-container .selection-status-bar .separator {
	display: inline-block;
	width: 12px;
}

.data-grid-container .selection-status-bar .separator:after {
	display: inline-block;
	width: 12px;
	content: '\007c';
	text-align: center;
}

/*column sort indicator*/
.data-grid-container .table[data-sortable] th a {
	background-position: right bottom 5px;
	background-repeat: no-repeat;
	cursor: pointer;
	padding-right: 10px;
}

/* DataGridControl end */

table {
	border-collapse: separate;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.glyphicon,
.img-thumbnail,
label {
	display: inline-block;
}

.img-thumbnail,
.table,
label {
	max-width: 100%;
}
/*Layout Styles End*/

/*Loader start*/
.loader {
	position: fixed;
	z-index: 999;
	height: 100%;
	width: 100%;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loader:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.loader:after {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	content: '';
	display: block;
	width: 1em;
	height: 1em;
	margin: auto;
	animation: load5 1.1s infinite ease;
	border-radius: 0.5em;
}

.loader-text {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 300px;
	height: 100px;
	text-align: center;
	padding-top: 116px;
	font-weight: 600;
	font-size: 20px;
}
/*Loader end*/

/*Application-wide styles*/
img {
	border: 0;
	vertical-align: middle;
	font-weight: 300;
	line-height: 2;
	text-align: center;
	font-size: 12px;
	position: relative;
}

.btn:active,
.dropdown-toggle:focus,
.modal,
.modal-content,
.navbar-toggle:focus {
	outline: 0;
}

.btn,
.btn-default:active,
.btn:active,
.form-control,
.navbar-toggle {
	background-image: none;
}

/* ControlIcons start */
.input-group-btn .btn {
	padding: 0;
}

.glyphicon-pencil {
	height: 30px;
	width: 30px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 3px 2px;
}

.glyphicon-ok {
	top: 0;
	height: 30px;
	width: 30px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 4px 3px;
}

.glyphicon-remove {
	top: 0;
	height: 30px;
	width: 30px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 3px 3px;
}

.datepicker-btn {
	height: 38px;
	width: 37px;
}

.glyphicon-search:before {
	content: '\e003';
	visibility: hidden;
}

.glyphicon-pencil:before {
	content: '\e003';
	visibility: hidden;
}

.glyphicon-ok:before {
	content: '\e003';
	visibility: hidden;
}

.glyphicon-remove:before {
	content: '\e003';
	visibility: hidden;
}

.datepicker-btn:before {
	content: '\e003';
	visibility: hidden;
}

.datepicker-btn img {
	display: none;
}

/*Admin Icons*/
.hide-password-icon,
.show-password-icon {
	height: 30px;
	width: 30px;
	display: inline-block;
	position: relative;
	top: 16px;
}

.add-button {
	height: 30px;
	width: 30px;
	display: inline-block;
	cursor: pointer;
}

.admin .add-button {
	position: relative;
	top: 16px;
	left: -12px;
}
/* ControlIcons end */

/*Application-wide styles end*/

/*general form control styles start*/
.btn,
.caret,
.input-group-btn {
	vertical-align: middle;
}

label {
	margin-bottom: 0;
	padding-top: 10px;
}

.form-control {
	display: block;
	line-height: 1.42857143;
	margin-left: 0;
	height: 38px;
	padding: 8px 12px;
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.text-box-container {
	display: inline-table;
	position: relative;
	padding-right: 10px;
}
/*general form control styles end*/

/*CheckBox & RadioButton styles start*/
.check-box-list-container,
.radio-button-list-container {
	padding: 0;
	margin-right: 16px;
}

.check-box-list-container .error-border,
.radio-button-list-container .error-border {
	display: inline-block;
	padding: 2px 0 1px 0;
}

.layout-grid-container .control-container.check-box-container {
	margin-top: 0;
}

.control-container.check-box-container.checkbox + .control-container.check-box-container.checkbox {
	margin-top: 0;
	vertical-align: baseline;
}

.control-container.label-container + .control-container.check-box-container.checkbox {
	margin-right: 4px !important;
}

.control-container.check-box-container.checkbox {
	margin-right: 0;
	padding-left: 0;
}

.panel-body .check-box-container label {
	padding-top: 0;
}

.panel-body .check-box-container label input[type='checkbox'] {
	margin-top: 2px;
}

.checkbox,
.checkbox-inline,
.radio,
.radio-inline {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
}

input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
	margin: 4px 0 0;
	margin-top: 1px\9;
	line-height: normal;
}

input[type='checkbox']:focus,
input[type='radio']:focus,
input[type='checkbox']:active,
input[type='radio']:active {
	outline: dotted thin;
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px;
}

.checkbox label,
.checkbox-inline label,
.radio label,
.radio-inline label {
	cursor: pointer;
	min-height: 20px;
	margin: 4px;
}

.disabled label {
	cursor: not-allowed;
}

input[type='checkbox'],
input[type='radio'] {
	margin-left: 0;
	height: 20px;
	margin-right: 4px;
	margin-top: 13px;
	vertical-align: middle;
}

.checkbox-inline input[type='checkbox'],
.radio-inline input[type='radio'] {
	margin-left: 0;
	margin-top: 4px;
}

.checkbox + .checkbox,
.radio + .radio {
	margin-top: 0;
}

.checkbox-inline,
.radio-inline {
	position: relative;
	display: inline-block;
	padding: 0;
	line-height: 21px;
	vertical-align: middle;
	margin-right: 6px;
}

.checkbox-inline + .checkbox-inline,
.radio-inline + .radio-inline {
	margin: 0;
}
/*CheckBox & RadioButton styles end*/

/*Buttons & Button Control start*/
button {
	overflow: visible;
	text-transform: uppercase;
	-webkit-appearance: button;
	cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.btn {
	margin-left: 0;
	touch-action: manipulation;
	border: 1px solid transparent;
	padding: 8px 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-lg {
	padding: 10px 16px;
	line-height: 1.33;
	border-radius: 2px;
}
/*Buttons & Button Control end*/

/* Menus and Drop-downs Start */

.dropdown-toggle:after {
	border-top: 5px solid;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.navbar-left .dropdown-toggle:after {
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid;
}

.collapse {
	display: none;
}

.navbar-left .caret {
	display: inline-block;
	margin-left: 5px;
}
/* Menus and Drop-downs End */

/*Dropdown menu*/
.dropdown-menu {
	float: left;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 90;
	display: none;
	min-width: 0;
	padding: 5px 0;
	margin: 0 0 2px 0;
	list-style: none;
	background-clip: padding-box;
}

.btn,
.dropdown-menu > li > a {
	line-height: 1.42857143;
	white-space: nowrap;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.container:not(.mobile) .dropdown:hover > .dropdown-menu {
	display: block;
}

.container:not(.mobile) .dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

.navbar-left .dropdown-menu {
	top: 0;
	left: 100%;
}

.dropdown-submenu,
.input-group,
.input-group-btn,
.input-group-btn > .btn,
.nav > li,
.nav > li > a,
.navbar {
	position: relative;
}

.dropdown-menu > li > a {
	padding: 3px 20px;
	display: block;
	clear: both;
}

.nav li a[href='#'] {
	cursor: default;
}

.dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
}

.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 2px 2px;
	-moz-border-radius: 0 2px 2px;
	border-radius: 0 2px 2px;
}

.dropdown-submenu > a:after {
	display: block;
	float: right;
	width: 0;
	height: 0;
}
/*Dropdown menu End*/

.input-group {
	border-collapse: separate;
}

.input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
}

.input-group .form-control,
.input-group-btn {
	display: table-cell;
}

.nav > li,
.nav > li > a {
	display: block;
}

.input-group-btn {
	width: 1%;
	font-size: 0;
	white-space: nowrap;
}

.input-group .form-control:first-child {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.input-group-btn:last-child > .btn {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	z-index: 2;
	margin-left: -1px;
}

.input-group-btn > .btn:active,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:hover {
	z-index: 2;
}

/*Menu Control*/
body > .container > .control-container.menu-container {
	margin: 0;
}

nav {
	display: block;
}

.nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	position: relative;
}

.navbar-left {
	margin-right: 16px;
}

.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	border-radius: 2px;
}

.navbar-default .navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
}

.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}

.nav > li > a {
	padding: 10px 15px;
}

.navbar {
	margin-bottom: 0;
	border: 1px solid transparent;
	display: inline-block;
	padding: 0;
}

.navbar-collapse {
	overflow-x: visible;
	-webkit-overflow-scrolling: touch;
}

/*edge menu classes start*/
.expand-right > .dropdown-menu {
	left: 100%;
	right: auto;
	float: left;
}

.navbar-nav > .dropdown.expand-right > .dropdown-menu {
	left: 0%;
}

.expand-right > .dropdown-submenu > .dropdown-menu,
.expand-right.dropdown-submenu > .dropdown-menu {
	left: 100%;
	right: auto;
}

.expand-left > .dropdown-menu {
	left: auto;
	right: 100%;
	float: right;
}

.navbar-nav > .dropdown.expand-left > .dropdown-menu {
	right: 0%;
}

.expand-left > .dropdown-submenu > .dropdown-menu,
.expand-left.dropdown-submenu > .dropdown-menu {
	right: 100%;
	left: auto;
}

.expand-left > a:after {
	float: left;
	margin-right: 0;
	margin-left: -10px;
}

.expand-right > a:after {
	float: right;
	margin-left: 0;
	margin-right: -10px;
}
/*edge menu classes end*/

.container:not(.mobile) .navbar {
	border-radius: 0;
}

.container:not(.mobile) .navbar-header {
	float: left;
}

.container:not(.mobile) .navbar-collapse {
	width: auto;
	height: 100%;
	border-top: 0;
	box-shadow: none;
}

.container:not(.mobile) .navbar-collapse.collapse {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
}

.container.mobile .dropdown-toggle:after {
	display: none;
}

.container.mobile .navbar-right {
	right: 0;
}

.container.mobile .navbar {
	display: block !important;
	width: 100%;
}

/*First menu top of screen*/
.container:not(.mobile) .stack-layout-container:first-of-type > .menu-container {
	margin-top: 0;
}

/*First mobile menu top of screen*/
.container.mobile .stack-layout-container:first-of-type > .menu-container {
	margin-top: 0;
}

/*bottom menu margin appearing bug fix - not working*/
.container.mobile .navbar > .container-fluid {
	margin: 0 !important;
}
/*arrow container not appearing bug fix - not working for second top-bar menu on a page*/
.container.mobile .stack-layout-container > .menu-container {
	z-index: 800;
}

.container.mobile .dropdown-menu {
	margin-bottom: 0;
}

.container.mobile .dropdown-submenu > .dropdown-menu {
	margin-top: 0;
	margin-left: 0;
}

/*Mobile submenu indentation*/
.container.mobile .dropdown > .dropdown-menu > li > a {
	padding-left: 25px;
}

.container.mobile .dropdown > .dropdown-menu > li > a > .dropdown-item-text {
	padding-left: 10px;
}

.container.mobile .dropdown.open > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a > .dropdown-item-text {
	padding-left: 20px;
}

.container.mobile
	.dropdown.open
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> li
	> a
	> .dropdown-item-text {
	padding-left: 30px;
}

.container.mobile
	.dropdown.open
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> li
	> a
	> .dropdown-item-text {
	padding-left: 40px;
}

.container.mobile
	.dropdown.open
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> li
	> a
	> .dropdown-item-text {
	padding-left: 50px;
}

.container.mobile
	.dropdown.open
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> li
	> a
	> .dropdown-item-text {
	padding-left: 60px;
}

.container.mobile
	.dropdown.open
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> li
	> a
	> .dropdown-item-text {
	padding-left: 70px;
}

.container.mobile
	.dropdown.open
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	> .dropdown-submenu
	> .dropdown-menu
	.dropdown-submenu
	.dropdown-menu
	> li
	> a
	> .dropdown-item-text {
	padding-left: 80px;
}

.container.mobile .navbar-nav {
	margin: 0 -15px;
}

.container.mobile .dropdown-submenu > .dropdown-menu {
	margin-top: 0;
}

.container.mobile .navbar li {
	line-height: 50px;
}

.container.mobile .navbar li a {
	line-height: 50px;
}

.container.mobile .divider {
	display: none;
}

.container.mobile .dropdown-submenu > a:after {
	margin: 0 0;
	float: none;
	position: absolute;
	top: 0px;
	right: 28px;
}

.container.mobile .navbar {
	margin-bottom: 0;
}

.container.mobile .nav .dropdown-menu > li > a {
	padding-top: 0;
	padding-bottom: 0;
}

.container.mobile .nav-stacked > li + li {
	margin-top: 0;
	outline: 0;
}

.container.mobile .dropdown-menu {
	padding-top: 0;
}

.container.mobile .navbar-header {
	float: none;
	cursor: pointer;
}

.container.mobile .navbar-toggle {
	display: block;
}

.container.mobile .navbar-collapse.collapse {
	display: none !important;
}

.container.mobile .navbar-collapse.collapse.in {
	display: block !important;
}

.container.mobile .nav {
	float: none !important;
}

.container.mobile .nav > li {
	float: none;
}

.container.mobile .nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.container.mobile .nav .open > a {
	background-color: transparent;
}

.container.mobile .dropdown-menu {
	padding-bottom: 0;
}

.container.mobile .nav .dropdown-menu {
	background-color: transparent;
	position: static;
	float: none;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.container.mobile .nav .dropdown-menu > li > a {
	min-height: 50px;
}

.container.mobile .dropdown-item-text {
	max-width: 90%;
	white-space: normal;
	display: block;
}

.container.mobile .menu-link {
	font-weight: bold;
}

.container.mobile .long-text > .dropdown-item-text {
	font-size: 12px;
	line-height: 25px;
}

.container.mobile .wraps {
	padding-top: 0;
	padding-bottom: 0;
}

.container.mobile .nav .caret {
	position: absolute;
	margin: 0;
	right: 0;
	top: 0;
	height: 70px;
	width: 70px;
	line-height: 70px;
	border-width: 0;
	background: #eee;
}

.container.mobile .nav .caret:after {
	content: '\f0d7';
	font-family: 'Font Awesome 5 Free';
	position: absolute;
	font-weight: 900;
	font-size: 32px;
	width: 70px;
	text-align: center;
}

.container.mobile .dropdown-submenu > a:before {
	content: ' ';
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 50px;
	z-index: -1;
}

.container.mobile .dropdown-submenu > a:after {
	display: inline-block;
}

.container > .navbar-collapse,
.container > .navbar-header {
	margin-right: -15px;
	margin-left: -15px;
}

.container:not(.container.mobile) > .navbar-collapse,
.container:not(.container.mobile) > .navbar-header {
	margin-right: 0;
	margin-left: 0;
}

.navbar-nav {
	margin: 7.5px -15px;
}

.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}

.container:not(.mobile) .navbar-toggle {
	display: none;
}

.container:not(.mobile) .navbar-nav {
	float: left;
	margin: 0;
}

.container:not(.mobile) .navbar-nav > li {
	float: left;
}

.container:not(.mobile) .navbar-left > li {
	float: none;
}

.container:not(.mobile) .navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-right {
	position: relative;
	margin-top: -4px;
}

.container:not(.mobile) .navbar-form .form-control {
	display: table;
	width: auto;
	vertical-align: middle;
}

.container:not(.mobile) .navbar-form .input-group {
	display: inline-table;
	vertical-align: middle;
	float: right;
}

.container:not(.mobile) .navbar-form .input-group .form-control,
.container:not(.mobile) .navbar-form .input-group .input-group-btn {
	width: auto;
}

.container:not(.mobile) .navbar-form .input-group > .form-control {
	width: 100%;
}

.container:not(.mobile) .navbar-form {
	width: auto;
	border: 0;
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.container:not(.mobile) .navbar-right {
	float: right !important;
	margin-right: -15px;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

/*Menu Control End*/

/*Pagination*/
.pagination {
	padding-left: 0;
	margin: 0;
	border-radius: 0;
}

.pagination > li {
	display: inline;
	cursor: pointer;
}

.pagination > li > a {
	position: relative;
	float: left;
	padding: 8px 12px;
	line-height: 1.42857143;
	margin-left: -1px;
}

.pagination > li:last-child > a {
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
}

.pagination > li:first-child > a {
	margin-left: 0;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
}

.pagination > li > a:focus,
.pagination > li > a:hover {
	z-index: 3;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover {
	z-index: 2;
	cursor: default;
}
/*Pagination End*/

/*Panel Control*/
.panel {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0;
	overflow-x: auto;
}

.panel-body {
	padding: 5px 0px 15px 15px;
}

.panel-default > .panel-heading {
	border-color: transparent;
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 1px;
	border-top-left-radius: 1px;
}
/*Panel Control End*/

/*Message Box Action*/
.modal {
	overflow: hidden;
	right: 0;
	left: 0;
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
}

.modal-dialog {
	position: relative;
	width: auto;
	max-width: 600px;
}

.modal-sm {
	max-width: 390px;
}

.modal-lg {
	max-width: 900px;
}

@media (min-width: 768px) {
	.modal-dialog {
		margin: 30px auto;
	}
}

@media (min-width: 320px) {
	.modal-sm {
		margin-right: auto;
		margin-left: auto;
	}
}

@media (min-width: 620px) {
	.modal-dialog {
		margin-right: auto;
		margin-left: auto;
	}

	.modal-lg {
		margin-right: 10px;
		margin-left: 10px;
	}
}

@media (min-width: 920px) {
	.modal-lg {
		margin-right: auto;
		margin-left: auto;
	}
}

.close {
	float: right;
	font-size: 21px;
	line-height: 1;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.close:focus,
.close:hover {
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

button.close {
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	-webkit-appearance: none;
}

.modal-content {
	background-clip: padding-box;
	position: relative;
}

#profile-modal .modal-dialog {
	position: absolute;
	width: auto;
	top: 6px;
	right: 8px;
}

#profile-modal .modal-dialog a {
	display: block;
	cursor: pointer;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

.modal-header {
	display: none;
	padding: 15px;
	min-height: 16.43px;
}

.modal-body p {
	margin-bottom: 0;
}

.modal-header .close {
	margin-top: -2px;
}

.modal-body {
	position: relative;
	padding: 15px;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: auto;
		margin: 30px auto;
	}

	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
}
/*Message Box Action End*/

/*Notification Action Start*/
button.toast-close-button {
	height: 20px;
}
/*Notification Action End*/

/*Layout Table Control End*/
.layout-table {
	display: table;
}

.layout-table-row {
	display: table-row;
}

.layout-table-cell {
	display: table-cell;
}
/*Layout Table Control End*/

/*Password Control*/
.hide-password-icon,
.show-password-icon {
	position: absolute;
	top: 12px;
	right: 2px;
}

.password-control {
	padding-right: 26px;
}

.password-input-container {
	display: contents;
}
/*Password Control End*/

/*DataGrid Cells Styles*/
.grid-cell-display-default {
	white-space: pre;
}

.grid-cell-display-ellipsis {
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.grid-cell-display-wrap {
	max-width: 100%;
	white-space: normal;
	word-break: break-all;
}
/*DataGrid Cells Styles End*/

/*Upload File Control*/
.upload-file-container {
	white-space: nowrap;
	position: relative;
}

.upload-file-container .single-file-upload-container.single-file-upload-container {
	position: relative;
	overflow: hidden;
	max-height: 300px;
	transition: max-height ease-out 0.5s, margin 0.2s linear 0.3s;
	margin-top: 4px;
	margin-bottom: 8px;
}

.upload-file-container .single-file-upload-container.max-height,
.upload-file-container .single-file-upload-container.validation-error.max-height {
	max-height: 0;
	margin: 0;
	padding: 0;
}

.upload-file-container .single-file-file-name-container {
	position: relative;
}

.upload-file-container .single-file-upload-filename {
	display: inline-block;
	margin-left: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: calc(100% - 55px);
	transition: width ease-out 0.2s;
}

.upload-file-container .single-file-upload-container.validation-error .single-file-upload-filename,
.upload-file-container .single-file-upload-container.upload-successful .single-file-upload-filename {
	width: calc(100% - 18px);
}

.upload-file-container .single-file-upload-percentage {
	position: absolute;
	right: 18px;
}

.upload-file-container .single-file-upload-icon {
	display: inline-block;
	position: absolute;
	right: 0;
	width: 12px;
	height: 12px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: center;
}

.upload-file-container .single-file-upload-success-icon {
	cursor: default;
}

.upload-file-container .single-file-upload-error-icon {
	cursor: pointer;
}

.upload-file-container .single-file-upload-delete-icon {
	display: none;
	position: absolute;
	right: 13px;
	bottom: 3px;
	cursor: pointer;
}

.upload-file-container .single-file-upload-container.single-file-upload-container:hover .single-file-upload-delete-icon {
	display: inline-block;
}

.upload-file-container .progress {
	height: 4px;
	margin-bottom: 0;
}

.upload-file-container .progress-bar {
	background-color: transparent;
}

.upload-file-container .progress-bar.progress-bar-danger {
	width: 100% !important;
	transition: width ease-in 0.1s;
}

.upload-file-container .single-file-upload-status {
	white-space: normal;
	word-wrap: break-word;
}

.upload-file-container .control-status-span {
	display: block;
	white-space: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-word;
}

.upload-file-container form {
	display: inline-block;
	margin-bottom: 0;
	max-height: 40px;
	display: flex;
}

.upload-file-container-drop-div {
	position: absolute;
	left: 10px;
	top: 11px;
	width: calc(100% - 120px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.upload-file-container button {
	position: relative;
	text-transform: uppercase;
	float: right;
	z-index: 10;
}

input[type='file'] {
	display: inline;
	max-height: 38px;
	color: transparent;
	width: 100%;
	padding-right: 86px;
}

input[type='file']:active,
input[type='file']:focus {
	outline: 0;
}

input[type='file']::-webkit-file-upload-button {
	visibility: hidden;
}

.upload-file-container input[type='file']::before {
	display: inline-block;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
}

.upload-file-container input[type='file'] {
	height: 0;
	border: 0;
}

.upload-file-container label {
	cursor: pointer;
}

.upload-file-container label:before {
	position: absolute;
	content: 'SELECT FILES';
	right: 10px;
	cursor: pointer;
	white-space: normal;
	text-align: center;
}

.upload-file-container.disabled form,
.upload-file-container.disabled label,
.upload-file-container.disabled label:before {
	cursor: not-allowed;
}

.upload-file-container input[type='file']::before {
	margin-top: -10px;
}

/*Edge hack*/
@supports (-ms-accelerator: true) {
	.upload-file-container input[type='file'] {
		height: 0;
		border: 0;
	}

	.upload-file-container label {
	}

	.upload-file-container label:before {
		content: 'SELECT FILES';
		margin-left: 50%;
		cursor: pointer;
		vertical-align: top;
	}

	.upload-file-container.disabled form,
	.upload-file-container.disabled label,
	.upload-file-container.disabled label:before {
		cursor: not-allowed;
	}
}

/*Upload File Control End*/

/*Validation Error*/
.has-validation-error.required-indicator:after {
	display: none;
}

.has-validation-error .required-indicator:after {
	display: none;
}

.has-validation-error .error-border {
	display: inline-block;
}

.has-validation-error .validation-error {
	display: block;
	margin-top: 2px;
}

.has-validation-error .form-control {
	border: none;
}

.validation-error {
	display: block;
}

.validation-error.validation-summary-errors {
	display: block;
}

.drop-down-container + .validation-error {
	padding-top: 4px;
}
/*Validation Error End*/

/*Required Indicator*/
.required-indicator {
	white-space: nowrap;
}

.drop-down-container.required-indicator {
	margin-right: 0;
}

.required-indicator .form-control {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
}

/*Chrome 29+ specific hack*/

.required-indicator .date-picker-container {
	display: inline-block;
	margin-bottom: -4px;
}

.required-indicator:after {
	position: absolute;
	vertical-align: top;
	text-align: left;
	margin-top: 0;
	margin-left: 0;
	white-space: nowrap;
}
/*Required Indicator End*/

.header {
	position: fixed;
	top: 0;
	right: 0;
	width: 20px;
	height: 30px;
	padding: 4px 30px;
	z-index: 1000;
}

/*Footer styles*/
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #ddd;
	padding: 0 34px 0 10px;
	z-index: 10;
}

.created-by {
	float: right;
}

.stadium-logo-blue {
	display: inline-block;
	margin-left: 6px;
	right: 9px;
	background: url(../assets/images/logo-blue.svg) no-repeat left 7px;
	height: 30px;
	width: 20px;
	position: absolute;
}

.stadium-logo-white {
	display: inline-block;
	margin-left: 6px;
	right: 10px;
	background: url(../assets/images/logo-white.svg) no-repeat left 5px;
	height: 30px;
	width: 20px;
	position: absolute;
}

.footer a,
.footer span {
	font-size: 12px;
	line-height: 30px;
	text-decoration: none;
}

.footer a {
	color: #00889e;
}

.footer a:hover {
	color: #00889e;
	text-decoration: underline;
}

.footer span {
	color: #868889;
}
/*Footer styes end*/

/*Print styles*/
@media print {
	img,
	tr {
		page-break-inside: avoid;
	}

	*,
	:after,
	:before {
		background: 0 0 !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: ' (' attr(href) ')';
	}

	a[href^='#']:after {
		content: '';
	}

	thead {
		display: table-header-group;
	}

	img {
		max-width: 100% !important;
	}

	p {
		orphans: 3;
		widows: 3;
	}

	.navbar {
		display: none;
	}

	.table {
		border-collapse: collapse !important;
	}

	.table td,
	.table th {
		background-color: #fff !important;
	}
}
/*Print styles end*/

/*Hamburger menu icon start*/
.hamburger {
	float: right;
	padding: 15px 15px;
	cursor: pointer;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}

.hamburger:hover {
	opacity: 0.7;
}
/*Hamburger menu icon end*/

/*Login Screen Styles*/
.login-form-container {
	padding: 20px;
	margin-bottom: 20px;
	position: fixed;
	top: 120px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.login-form-container input {
	max-width: 100%;
}

.login-form-container a {
	cursor: pointer;
}

.login-form-container .button-row {
	text-align: right;
}

.login-form-container .button-row .button-container {
	margin-right: 0;
}

.login-form-container h3 {
	margin-top: 0px !important;
}

.login-page-top-bar {
	height: 60px;
	margin: 0 -15px;
	padding-left: 10px;
}

.login-page-top-bar h1 {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0 12px;
	line-height: 60px;
}

.login-page-top-bar .stadium-logo-white {
	position: static;
	display: inline-block;
	padding: 0;
	height: 60px;
	width: 40px;
	background: transparent url(../assets/images/logo-white.svg) center center / 40px 40px no-repeat;
}

/*IE 10 & 11 specific CSS*/
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	.login-form-container {
		position: static;
		margin-top: 20px;
	}
}

/*Admin Page Styles*/
.admin-header {
	display: flex;
}

.back-to-application {
	display: flex;
	flex-direction: column;
	align-self: center;
}

.back-to-application .application-link {
	margin-top: 16px;
	padding: 0 10px 0 30px;
	font-weight: bold;
	font-size: 16px;
}

.back-to-application span {
	margin-top: 4.4px;
	font-style: italic;
}

.admin .navbar {
	min-width: 200px;
}

.admin a {
	cursor: pointer;
}

.admin #AdminUser,
.admin #UserExistsLabel {
	display: none;
}

.admin .page-tables-container {
	display: inline-block;
}

.admin .add-user-container {
	margin-top: 16px;
}

.admin .is-administrator-container label {
	margin-bottom: 16px;
}

.admin .admin-text-formatter {
	font-size: Medium;
	vertical-align: middle;
}

.admin .table-filter {
	padding-left: 10px;
	vertical-align: middle;
}

.admin .table-filter select {
	max-width: 120px;
}

.admin .admin-heading {
	font-weight: bold;
	font-size: Larger;
}

.admin .selection-row .row-name {
	display: inline;
	cursor: pointer;
}

.admin .emphasised-text {
	font-weight: bold;
	font-size: Larger;
}

.admin .title-container .add-item-button {
	float: right;
	margin-right: 0px;
	padding-right: 0px;
}

.admin .title-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-top: 10px;
}

.admin .title-container .control-container {
	margin-top: 0px;
}

.admin .title-container.page-title-container {
	height: 42px;
}

.admin .role-selection-info-label {
	max-width: 354px;
}

.admin .data-grid-container tr {
	height: 43px;
}

.admin #role-form .start-page-row,
.admin #role-form .start-page-row label {
	cursor: not-allowed;
}

.admin .rows-table .default-row,
.admin .rows-table .default-row label {
	cursor: not-allowed;
}

.admin #page-form .default-row,
.admin #page-form .default-row label {
	cursor: not-allowed;
}

.admin .field {
	white-space: nowrap;
}

.admin .field-input {
	border: 1px solid transparent;
	background-color: transparent;
	padding-left: 5px;
	display: inline-block;
	min-width: 350px;
	width: auto;
	white-space: nowrap;
}

.admin .field button {
	height: 30px;
	width: 30px;
	margin: 4px 3px;
	vertical-align: top;
	position: relative;
	padding: 0;
}

/*.admin .field:hover > .btn-edit,*/
.admin .field-input:focus ~ .btn-save-cancel {
	display: inline;
}

.admin .field .btn-edit {
	margin-right: 43px;
}

.admin .field .editable-table-spacer {
	width: 76px;
	display: inline-block;
}

.admin .edited-indicator-hidden {
	display: none;
}

.admin .edited-indicator-visible {
	display: inline-block;
}

.admin .field:hover > .editable-table-spacer,
.admin .field-input:focus ~ .editable-table-spacer {
	display: none;
}

.admin .btn-edit,
.admin .btn-save-cancel,
.admin .field:hover > .field-input:focus ~ .btn-edit {
	display: none;
}

.admin .settings-table td {
	vertical-align: middle;
}

.admin th,
.admin td {
	min-width: 120px;
}

.admin .action-column {
	min-width: 60px;
}

.admin .admin-section-title {
	font-size: 14px;
	text-transform: uppercase;
}

.admin .admin-section-title-container {
	margin: 0px 10px 0 0;
}

.admin .table-title {
	font-size: 20px;
	font-weight: 600;
	vertical-align: middle;
}

.admin .table-by-line-container {
	margin-bottom: 10px;
}

.auto-width-dialog .modal-dialog {
	width: auto;
	display: inline-block;
}

.auto-width-dialog {
	text-align: center;
}

.auto-width-dialog .modal-content {
	text-align: left;
}

/*Logout Page*/
.logout-page {
	background: linear-gradient(#E9EDF0 60%, #DFE2E7 0);
	height: 100vh;
	width: 100%;
	text-align: center;
}

.logout-page-container {
	padding-top: 140px;
}

.logout-content-container {
	display: inline-block;
	text-align: initial;
	vertical-align: top;
	margin-top: 50px;
}

.logout-content-container h1 {
	font-size: 2em;
}

.logout-image {
	display: inline-block;
	height: 397px;
	width: 463px;
	margin-left: 50px;
}

@media (max-width:960px) {
	.logout-image {
		display: none;
	}

	.logout-content-container {
		margin: 0 auto;
	}
}

/*Error Pages*/
.error-page-container {
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

.error-content-container {
	display: inline-block;
	text-align: initial;
	vertical-align: top;
	max-width: 450px;
}

.unanticipated-error-content {
	margin-top: 6px;
	padding: 5px;
}

.error-image img {
	display: none;
}

.error-image {
	display: inline-block;
	text-align: center;
	height: 397px;
	width: 463px;
}

@media (max-width: 960px) {
	.error-image {
		display: none;
	}

	.error-content-container {
		margin: 0 auto;
	}
}

[disabled='disabled'] {
	cursor: not-allowed;
}

.clickable {
	cursor: pointer;
}

/*migrate bootstrap columns to display:grid*/
@supports (display: grid) {
	.row {
		display: grid;
		grid-template-columns: repeat(12, minmax(10px, 1fr));
		grid-gap: 0;
		margin: 0;
	}

	.col-md-1 {
		grid-column: span 1;
	}

	.col-md-2 {
		grid-column: span 2;
	}

	.col-md-3 {
		grid-column: span 3;
	}

	.col-md-4 {
		grid-column: span 4;
	}

	.col-md-5 {
		grid-column: span 5;
	}

	.col-md-6 {
		grid-column: span 6;
	}

	.col-md-7 {
		grid-column: span 7;
	}

	.col-md-8 {
		grid-column: span 8;
	}

	.col-md-9 {
		grid-column: span 9;
	}

	.col-md-10 {
		grid-column: span 10;
	}

	.col-md-11 {
		grid-column: span 11;
	}

	.col-md-12 {
		grid-column: span 12;
	}

	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9 {
		width: 100%;
		float: none;
		padding: 0;
	}

	.container:after,
	.container:before,
	.modal-footer:after,
	.modal-footer:before,
	.nav:after,
	.nav:before,
	.navbar-collapse:after,
	.navbar-collapse:before,
	.navbar-header:after,
	.navbar-header:before,
	.navbar:after,
	.navbar:before,
	.panel-body:after,
	.panel-body:before,
	.row:after,
	.row:before {
		display: none;
	}
	/*Grid Responsiveness*/
	@media (max-width: 1238px) {
		.row {
			grid-template-columns: repeat(6, minmax(10px, 1fr));
		}

		.col-md-1 {
			grid-column: span 1;
		}

		.col-md-2 {
			grid-column: span 2;
		}

		.col-md-3 {
			grid-column: span 3;
		}

		.col-md-4 {
			grid-column: span 4;
		}

		.col-md-5 {
			grid-column: span 5;
		}

		.col-md-6 {
			grid-column: span 6;
		}

		.col-md-7 {
			grid-column: span 6;
		}

		.col-md-8 {
			grid-column: span 6;
		}

		.col-md-9 {
			grid-column: span 6;
		}

		.col-md-10 {
			grid-column: span 6;
		}

		.col-md-11 {
			grid-column: span 6;
		}

		.col-md-12 {
			grid-column: span 6;
		}
	}

	@media (max-width: 826px) {
		.row {
			grid-template-columns: repeat(4, minmax(10px, 1fr));
		}

		.col-md-1 {
			grid-column: span 1;
		}

		.col-md-2 {
			grid-column: span 2;
		}

		.col-md-3 {
			grid-column: span 3;
		}

		.col-md-4 {
			grid-column: span 4;
		}

		.col-md-5 {
			grid-column: span 4;
		}

		.col-md-6 {
			grid-column: span 4;
		}

		.col-md-7 {
			grid-column: span 4;
		}

		.col-md-8 {
			grid-column: span 4;
		}

		.col-md-9 {
			grid-column: span 4;
		}

		.col-md-10 {
			grid-column: span 4;
		}

		.col-md-11 {
			grid-column: span 4;
		}

		.col-md-12 {
			grid-column: span 4;
		}
	}

	@media (max-width: 619px) {
		.row {
			grid-template-columns: repeat(2, minmax(10px, 1fr));
		}

		.col-md-1 {
			grid-column: span 1;
		}

		.col-md-2 {
			grid-column: span 2;
		}

		.col-md-3 {
			grid-column: span 2;
		}

		.col-md-4 {
			grid-column: span 2;
		}

		.col-md-5 {
			grid-column: span 2;
		}

		.col-md-6 {
			grid-column: span 2;
		}

		.col-md-7 {
			grid-column: span 2;
		}

		.col-md-8 {
			grid-column: span 2;
		}

		.col-md-9 {
			grid-column: span 2;
		}

		.col-md-10 {
			grid-column: span 2;
		}

		.col-md-11 {
			grid-column: span 2;
		}

		.col-md-12 {
			grid-column: span 2;
		}
	}

	@media (max-width: 414px) {
		.row {
			grid-template-columns: repeat(1, minmax(10px, 1fr));
		}

		.col-md-1 {
			grid-column: span 1;
		}

		.col-md-2 {
			grid-column: span 1;
		}

		.col-md-3 {
			grid-column: span 1;
		}

		.col-md-4 {
			grid-column: span 1;
		}

		.col-md-5 {
			grid-column: span 1;
		}

		.col-md-6 {
			grid-column: span 1;
		}

		.col-md-7 {
			grid-column: span 1;
		}

		.col-md-8 {
			grid-column: span 1;
		}

		.col-md-9 {
			grid-column: span 1;
		}

		.col-md-10 {
			grid-column: span 1;
		}

		.col-md-11 {
			grid-column: span 1;
		}

		.col-md-12 {
			grid-column: span 1;
		}
	}
}

.date-picker-container .datepicker-btn,
.date-picker-container .datepicker-btn:hover {
	box-shadow: none;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.date-picker-container .mx-icon-calendar {
	right: 0px;
}

.date-picker-popup-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.date-picker-popup-footer > button {
	width: 100%;
	text-align: center;
	margin: 3px 0;
}

.datepicker th {
	text-align: center;
}
