<template>
	<div v-show="isAppBusy || hasOngoingEvents" class="busy-indicator-container">
		<div class="busy-indicator"></div>
	</div>
</template>

<script>
	import { mapState } from 'pinia';
	import { useApplicationStore } from '@/stores/application.js';
	import { useEventsStore } from '@/stores/events.js';

	export default {
		name: 'BusyIndicator',

		computed: {
			...mapState(useApplicationStore, ['isAppBusy']),
			...mapState(useEventsStore, ['hasOngoingEvents'])
		}
	};
</script>

<style lang="scss" scoped>
	@import '@/assets/themes/material-design-style-sheet.scss';

	.busy-indicator-container {
		position: fixed;
		height: $LOADER_BAR_HEIGHT;
		bottom: 30px;
		left: 0;
		width: 100%;
		background-color: #ddd;
	}

	.busy-indicator {
		position: absolute;
		top: 0;
		left: 0;
		height: $LOADER_BAR_HEIGHT;
		background-color: $LOADER_BAR_COLOR;
		width: $LOADER_BAR_WIDTH;
		animation: loadingBarAnimation 2s ease-out infinite;
	}

	@keyframes loadingBarAnimation {
		0% {
			left: 0;
		}

		50% {
			left: calc(100% - #{$LOADER_BAR_WIDTH});
		}

		100% {
			left: 0;
		}
	}
</style>
