﻿<template>
	<DefaultTemplate v-bind="$props">
		<div class="DataGridPage-container">
			<StackLayout>
				<StackLayout>
					<StadiumLabel
						ref="DataGridPage_ResultLabel"
						control-id="DataGridPage_ResultLabel"
						:text="resultLabelText"
						:visible="resultLabelVisible"
					/>
				</StackLayout>

				<StadiumDataGrid
					ref="DataGridPage_DataGrid2"
					control-id="DataGridPage_DataGrid2"
					v-model:searchTerm="dataGrid2SearchTerm"
					:allowExport="dataGrid2AllowExport"
					:displaySearchBar="dataGrid2DisplaySearchBar"
					:columnDefinitions="dataGrid2ColumnDefinitions"
					:data="dataGrid2Data"
					:hasSelectableData="dataGrid2HasSelectableData"
					:visible="dataGrid2Visible"
					@update:selectedData="dataGrid2SelectedData = $event"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumDataGrid
					ref="DataGridPage_DataGrid1"
					control-id="DataGridPage_DataGrid1"
					v-model:searchTerm="dataGrid1SearchTerm"
					:allowExport="dataGrid1AllowExport"
					:displaySearchBar="dataGrid1DisplaySearchBar"
					:columnDefinitions="dataGrid1ColumnDefinitions"
					:data="dataGrid1Data"
					:hasSelectableData="dataGrid1HasSelectableData"
					:visible="dataGrid1Visible"
					@update:selectedData="dataGrid1SelectedData = $event"
					@Column2Click="
						(doneCallback, row) => executeEvent({ handler: () => DataGrid1_Column2_Click(row), eventId: 'B6A0073C', doneCallback })
					"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumDataGrid
					ref="DataGridPage_DataGrid3"
					control-id="DataGridPage_DataGrid3"
					v-model:searchTerm="dataGrid3SearchTerm"
					:allowExport="dataGrid3AllowExport"
					:displaySearchBar="dataGrid3DisplaySearchBar"
					:columnDefinitions="dataGrid3ColumnDefinitions"
					:data="dataGrid3Data"
					:hasSelectableData="dataGrid3HasSelectableData"
					:visible="dataGrid3Visible"
					@update:selectedData="dataGrid3SelectedData = $event"
				/>
			</StackLayout>
		</div>
	</DefaultTemplate>
</template>

<script>
	import { mapActions } from 'pinia';
	import { useApplicationStore } from '@/stores/application.js';
	import { useEventsStore } from '@/stores/events.js';

	import DefaultTemplate from '@/views/templates/DefaultTemplate.vue';
	import StackLayout from '@/components/StackLayout.vue';
	import StadiumDataGrid from '@/components/controls/StadiumDataGrid/StadiumDataGrid.vue';
	import StadiumLabel from '@/components/controls/StadiumLabel.vue';

	export default {
		name: 'DataGridPage',
		inject: ['$http', '$debugLogger'],
		components: {
			DefaultTemplate,
			StackLayout,
			StadiumDataGrid,
			StadiumLabel
		},

		props: {
			settings: Object,
			sessionVariables: Object
		},

		data() {
			return {
				resultLabelText: null,
				resultLabelVisible: true,

				dataGrid1AllowExport: true,
				dataGrid1DisplaySearchBar: true,
				dataGrid1ColumnDefinitions: [
					{
						name: 'Column1',
						headerText: 'Column 1',
						hasClickEvent: false,
						visible: true,
						staticText: null,
						cellDisplay: 'default',
						cellAlignment: 'left'
					},
					{
						name: 'Column2',
						headerText: 'Column 2',
						hasClickEvent: true,
						visible: true,
						staticText: null,
						cellDisplay: 'ellipsis',
						cellAlignment: 'left'
					},
					{
						name: 'Column3',
						headerText: 'Column 3',
						hasClickEvent: false,
						visible: false,
						staticText: null,
						cellDisplay: 'default',
						cellAlignment: 'left'
					},
					{
						name: 'Column4',
						headerText: 'Column 4',
						hasClickEvent: false,
						visible: true,
						staticText: 'static text',
						cellDisplay: 'wrap',
						cellAlignment: 'right'
					}
				],
				dataGrid1Data: null,
				dataGrid1HasSelectableData: true,
				dataGrid1SearchTerm: null,
				dataGrid1SelectedData: [],
				dataGrid1Visible: true,

				dataGrid2AllowExport: false,
				dataGrid2DisplaySearchBar: true,
				dataGrid2ColumnDefinitions: [
					{
						name: 'BooleanColumn',
						headerText: 'Boolean Column',
						hasClickEvent: false,
						visible: true,
						staticText: null,
						cellDisplay: 'default',
						cellAlignment: 'left'
					},
					{
						name: 'NumberColumn',
						headerText: 'Number Column',
						hasClickEvent: false,
						visible: true,
						staticText: null,
						cellDisplay: 'default',
						cellAlignment: 'left'
					},
					{
						name: 'DateColumn',
						headerText: 'Date Column',
						hasClickEvent: false,
						visible: true,
						staticText: null,
						cellDisplay: 'default',
						cellAlignment: 'left'
					},
					{
						name: 'TimeColumn',
						headerText: 'Time Column',
						hasClickEvent: false,
						visible: true,
						staticText: null,
						cellDisplay: 'default',
						cellAlignment: 'left'
					},
					{
						name: 'DateTimeColumn',
						headerText: 'DateTime Column',
						hasClickEvent: false,
						visible: true,
						staticText: null,
						cellDisplay: 'default',
						cellAlignment: 'left'
					},
					{
						name: 'ArrayColumn',
						headerText: 'Array Column',
						hasClickEvent: false,
						visible: true,
						staticText: null,
						cellDisplay: 'default',
						cellAlignment: 'left'
					},
					{
						name: 'NullColumn',
						headerText: 'Null Column',
						hasClickEvent: false,
						visible: true,
						staticText: null,
						cellDisplay: 'default',
						cellAlignment: 'left'
					}
				],
				dataGrid2Data: null,
				dataGrid2HasSelectableData: false,
				dataGrid2SearchTerm: null,
				dataGrid2SelectedData: [],
				dataGrid2Visible: true,

				dataGrid3AllowExport: false,
				dataGrid3DisplaySearchBar: true,
				dataGrid3ColumnDefinitions: [
					{
						name: 'ID',
						headerText: 'ID',
						hasClickEvent: false,
						visible: true,
						staticText: null,
						cellDisplay: 'default',
						cellAlignment: 'left'
					},
					{
						name: 'Column1',
						headerText: 'Column 1',
						hasClickEvent: false,
						visible: true,
						staticText: null,
						cellDisplay: 'default',
						cellAlignment: 'left'
					},
					{
						name: 'Column2',
						headerText: 'Column 2',
						hasClickEvent: false,
						visible: true,
						staticText: null,
						cellDisplay: 'default',
						cellAlignment: 'left'
					},
					{
						name: 'DateTime',
						headerText: 'DateTime',
						hasClickEvent: false,
						visible: true,
						staticText: null,
						cellDisplay: 'default',
						cellAlignment: 'left'
					}
				],
				dataGrid3Data: null,
				dataGrid3HasSelectableData: false,
				dataGrid3SearchTerm: null,
				dataGrid3SelectedData: [],
				dataGrid3Visible: true
			};
		},

		async mounted() {
			await this.executeEvent({ handler: this.DataGridPage_Load, eventId: 'F2D2E07D' });

			const applicationStore = useApplicationStore();
			applicationStore.isAppBusy = false;
		},

		methods: {
			...mapActions(useEventsStore, ['executeEvent']),

			async DataGridPage_Load() {
				await this.Script1();
				await this.Script2();
				await this.Script3();
			},

			async DataGrid1_Column2_Click(ClickedRow) {
				// simulate awaited async call
				await new Promise((resolve, _reject) => {
					setTimeout(() => {
						console.log(JSON.stringify(ClickedRow));
						resolve();
					}, 2000);
				});
			},

			async Script1(logDebugInfo = true) {
				let connectionId;
				if (import.meta.env.VITE_APP_DEBUG === 'true') {
					connectionId = await this.$debugLogger.invoke('GetConnectionId');
				}

				let _Script1_values = {};

				// ExecuteConnector
				_Script1_values['Database1_Query1'] = {
					FirstResult: {
						Column1: '',
						Column2: '',
						Column3: ''
					},
					Results: []
				};

				let connectorResult = await this.$http.post('api/Documents/Pages/DataGridPage/DataGridPage_Load_Database1_Query1', {
					connectionId: logDebugInfo ? connectionId : null
				});

				if (connectorResult.length > 0) {
					_Script1_values['Database1_Query1']['FirstResult'] = connectorResult[0];
				}

				_Script1_values['Database1_Query1']['Results'] = connectorResult;

				// SetValue
				this.dataGrid1Data = _Script1_values['Database1_Query1']['Results'];
			},

			async Script2(logDebugInfo = true) {
				let connectionId;
				if (import.meta.env.VITE_APP_DEBUG === 'true') {
					connectionId = await this.$debugLogger.invoke('GetConnectionId');
				}

				let _Script2_values = {};

				// ExecuteConnector
				_Script2_values['Database1_Query2'] = {
					FirstResult: {
						BooleanColumn: '',
						NumberColumn: '',
						DateColumn: '',
						TimeColumn: '',
						DateTimeColumn: '',
						ArrayColumn: '',
						NullColumn: ''
					},
					Results: []
				};

				let connectorResult = await this.$http.post('api/Documents/Pages/DataGridPage/DataGridPage_Load_Database1_Query2', {
					connectionId: logDebugInfo ? connectionId : null
				});

				if (connectorResult.length > 0) {
					_Script2_values['Database1_Query2']['FirstResult'] = connectorResult[0];
				}

				_Script2_values['Database1_Query2']['Results'] = connectorResult;

				// SetValue
				this.dataGrid2Data = _Script2_values['Database1_Query2']['Results'];
			},

			async Script3(logDebugInfo = true) {
				let connectionId;
				if (import.meta.env.VITE_APP_DEBUG === 'true') {
					connectionId = await this.$debugLogger.invoke('GetConnectionId');
				}

				let _Script3_values = {};

				// ExecuteConnector
				_Script3_values['Database1_Query3'] = {
					FirstResult: {
						ID: '',
						Column1: '',
						Column2: '',
						DateTime: ''
					},
					Results: []
				};

				let connectorResult = await this.$http.post('api/Documents/Pages/DataGridPage/DataGridPage_Load_Database1_Query3', {
					connectionId: logDebugInfo ? connectionId : null
				});

				if (connectorResult.length > 0) {
					_Script3_values['Database1_Query3']['FirstResult'] = connectorResult[0];
				}

				_Script3_values['Database1_Query3']['Results'] = connectorResult;

				// SetValue
				this.dataGrid3Data = _Script3_values['Database1_Query3']['Results'];
			}
		}
	};
</script>
