﻿<template>
	<DefaultTemplate v-bind="$props">
		<div class="LabelPage-container">
			<StackLayout>
				<StadiumLabel
					ref="LabelPage_ResultLabel"
					control-id="LabelPage_ResultLabel"
					:text="resultLabelText"
					:visible="resultLabelVisible"
					:classes="resultLabelClasses"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLabel
					ref="LabelPage_TextLabel"
					control-id="LabelPage_TextLabel"
					:text="textLabelText"
					:visible="textLabelVisible"
					:classes="textLabelClasses"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumButton
					ref="LabelPage_GetLabelTextButton"
					control-id="LabelPage_GetLabelTextButton"
					:text="getLabelTextButtonText"
					:tooltip="getLabelTextButtonTooltip"
					:visible="getLabelTextButtonVisible"
					:classes="getLabelTextButtonClasses"
					:hasClickEvent="true"
					@click="doneCallback => executeEvent({ handler: GetLabelTextButton_Click, eventId: 'FD145064', doneCallback })"
				/>

				<StadiumButton
					ref="LabelPage_SetLabelTextButton"
					control-id="LabelPage_SetLabelTextButton"
					:text="setLabelTextButtonText"
					:tooltip="setLabelTextButtonTooltip"
					:visible="setLabelTextButtonVisible"
					:classes="setLabelTextButtonClasses"
					:hasClickEvent="true"
					@click="doneCallback => executeEvent({ handler: SetLabelTextButton_Click, eventId: '81BADD08', doneCallback })"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLabel
					ref="LabelPage_VisibleLabel"
					control-id="LabelPage_VisibleLabel"
					:text="visibleLabelText"
					:visible="visibleLabelVisible"
					:classes="visibleLabelClasses"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumButton
					ref="LabelPage_GetLabelVisibleButton"
					control-id="LabelPage_GetLabelVisibleButton"
					:text="getLabelVisibleButtonText"
					:tooltip="getLabelVisibleButtonTooltip"
					:visible="getLabelVisibleButtonVisible"
					:classes="getLabelVisibleButtonClasses"
					:hasClickEvent="true"
					@click="doneCallback => executeEvent({ handler: () => GetLabelVisibleButton_Click(), eventId: '555AAC0E', doneCallback })"
				/>

				<StadiumButton
					ref="LabelPage_SetLabelVisibleButton"
					control-id="LabelPage_SetLabelVisibleButton"
					:text="setLabelVisibleButtonText"
					:tooltip="setLabelVisibleButtonTooltip"
					:visible="setLabelVisibleButtonVisible"
					:classes="setLabelVisibleButtonClasses"
					:hasClickEvent="true"
					@click="doneCallback => executeEvent({ handler: SetLabelVisibleButton_Click, eventId: '47E73D0D', doneCallback })"
				/>
			</StackLayout>
		</div>
	</DefaultTemplate>
</template>

<script>
	import { mapActions } from 'pinia';
	import { useApplicationStore } from '@/stores/application.js';
	import { useEventsStore } from '@/stores/events.js';

	import DefaultTemplate from '@/views/templates/DefaultTemplate.vue';
	import StackLayout from '@/components/StackLayout.vue';
	import StadiumLabel from '@/components/controls/StadiumLabel.vue';
	import StadiumButton from '@/components/controls/StadiumButton.vue';

	export default {
		name: 'LabelPage',
		inject: ['$http', '$notification'],
		components: {
			DefaultTemplate,
			StackLayout,
			StadiumLabel,
			StadiumButton
		},

		props: {
			settings: Object,
			sessionVariables: Object
		},

		data() {
			return {
				resultLabelText: null,
				resultLabelVisible: true,
				resultLabelClasses: 'control-container label-container',

				textLabelText: 'initial text',
				textLabelVisible: true,
				textLabelClasses: 'control-container label-container',

				getLabelTextButtonText: 'Get Label Text',
				getLabelTextButtonTooltip: null,
				getLabelTextButtonVisible: true,
				getLabelTextButtonClasses: 'control-container button-container',

				setLabelTextButtonText: 'Set Label Text',
				setLabelTextButtonTooltip: null,
				setLabelTextButtonVisible: true,
				setLabelTextButtonClasses: 'control-container button-container',

				visibleLabelText: 'invisible text',
				visibleLabelVisible: false,
				visibleLabelClasses: 'control-container label-container',

				getLabelVisibleButtonText: 'Get Label Visible',
				getLabelVisibleButtonTooltip: null,
				getLabelVisibleButtonVisible: true,
				getLabelVisibleButtonClasses: 'control-container button-container',

				setLabelVisibleButtonText: 'Set Label Visible',
				setLabelVisibleButtonTooltip: null,
				setLabelVisibleButtonVisible: true,
				setLabelVisibleButtonClasses: 'control-container button-container'
			};
		},

		async mounted() {
			await this.executeEvent({ handler: this.LabelPage_Load, eventId: '266C92AB' });

			const applicationStore = useApplicationStore();
			applicationStore.isAppBusy = false;
		},

		methods: {
			...mapActions(useEventsStore, ['executeEvent']),

			async LabelPage_Load() {},

			async GetLabelTextButton_Click() {
				console.log(this.textLabelText);
				this.resultLabelText = this.textLabelText;
			},

			async SetLabelTextButton_Click() {
				this.textLabelText = 'set text';
			},

			async GetLabelVisibleButton_Click() {
				this.resultLabelText = this.visibleLabelVisible;
			},

			async SetLabelVisibleButton_Click() {
				this.visibleLabelVisible = true;
			}
		}
	};
</script>
