﻿<template>
	<DefaultTemplate v-bind="$props">
		<div class="LayoutGridPage-container">
			<StackLayout>
				<StadiumLayoutGrid
					ref="LayoutGridPage_LayoutGrid1"
					control-id="LayoutGridPage_LayoutGrid1"
					:cells="layoutGrid1Cells"
					:visible="layoutGrid1Visible"
					:classes="'control-container layout-grid-container'"
				>
					<template #cell0>
						<StackLayout>
							<StadiumLabel
								ref="LayoutGridPage_Label1"
								control-id="LayoutGridPage_Label1"
								:text="label1Text"
								:visible="label1Visible"
								:classes="'control-container label-container'"
							/>
						</StackLayout>
					</template>

					<template #cell11>
						<StackLayout>
							<StadiumLabel
								ref="LayoutGridPage_Label2"
								control-id="LayoutGridPage_Label2"
								:text="label2Text"
								:visible="label2Visible"
								:classes="'control-container label-container'"
							/>
						</StackLayout>
					</template>
				</StadiumLayoutGrid>
			</StackLayout>
		</div>
	</DefaultTemplate>
</template>

<script>
	import { useApplicationStore } from '@/stores/application.js';

	import DefaultTemplate from '@/views/templates/DefaultTemplate.vue';
	import StackLayout from '@/components/StackLayout.vue';
	import StadiumLayoutGrid from '@/components/controls/deprecated/StadiumLayoutGrid.vue';
	import StadiumLabel from '@/components/controls/StadiumLabel.vue';

	export default {
		name: 'LayoutGridPage',
		components: {
			DefaultTemplate,
			StackLayout,
			StadiumLayoutGrid,
			StadiumLabel
		},

		props: {
			settings: Object,
			sessionVariables: Object
		},

		data() {
			return {
				layoutGrid1Cells: [
					{ span: 1 },
					{ span: 1 },
					{ span: 1 },
					{ span: 1 },
					{ span: 1 },
					{ span: 1 },
					{ span: 1 },
					{ span: 1 },
					{ span: 1 },
					{ span: 1 },
					{ span: 1 },
					{ span: 1 }
				],
				layoutGrid1Visible: true,

				label1Text: 'Label 1',
				label1Visible: true,

				label2Text: 'Label 2',
				label2Visible: true
			};
		},

		async mounted() {
			const applicationStore = useApplicationStore();
			applicationStore.isAppBusy = false;
		}
	};
</script>
