﻿<template>
	<DefaultTemplate v-bind="$props">
		<div class="LayoutTablePage-container">
			<StackLayout>
				<StadiumLayoutTable
					ref="LayoutTablePage_LayoutTable1"
					control-id="LayoutTablePage_LayoutTable1"
					:columnCount="layoutTable1ColumnCount"
					:rowCount="layoutTable1RowCount"
					:visible="layoutTable1Visible"
					:classes="'control-container layout-table-container'"
				>
					<template #row0col0>
						<StackLayout>
							<StadiumLabel
								ref="LayoutTablePage_Label1"
								control-id="LayoutTablePage_Label1"
								:text="label1Text"
								:visible="label1Visible"
								:classes="'control-container label-container'"
							/>
						</StackLayout>
					</template>

					<template #row1col2>
						<StackLayout>
							<StadiumLabel
								ref="LayoutTablePage_Label2"
								control-id="LayoutTablePage_Label2"
								:text="label2Text"
								:visible="label2Visible"
								:classes="'control-container label-container'"
							/>
						</StackLayout>
					</template>
				</StadiumLayoutTable>
			</StackLayout>
		</div>
	</DefaultTemplate>
</template>

<script>
	import { useApplicationStore } from '@/stores/application.js';

	import DefaultTemplate from '@/views/templates/DefaultTemplate.vue';
	import StackLayout from '@/components/StackLayout.vue';
	import StadiumLayoutTable from '@/components/controls/StadiumLayoutTable.vue';
	import StadiumLabel from '@/components/controls/StadiumLabel.vue';

	export default {
		name: 'LayoutTablePage',
		components: {
			DefaultTemplate,
			StackLayout,
			StadiumLayoutTable,
			StadiumLabel
		},

		props: {
			settings: Object,
			sessionVariables: Object
		},

		data() {
			return {
				layoutTable1ColumnCount: 3,
				layoutTable1RowCount: 2,
				layoutTable1Visible: true,

				label1Text: 'Label 1',
				label1Visible: true,

				label2Text: 'Label 2',
				label2Visible: true
			};
		},

		async mounted() {
			const applicationStore = useApplicationStore();
			applicationStore.isAppBusy = false;
		}
	};
</script>
