﻿<template>
	<DefaultTemplate v-bind="$props">
		<div class="LinkPage-container">
			<StackLayout>
				<StadiumLink
					ref="LinkPage_RelativeUrlLink"
					control-id="LinkPage_RelativeUrlLink"
					:hasClickEvent="relativeUrlLinkHasClickEvent"
					:openInNewWindow="relativeUrlLinkOpenInNewWindow"
					:text="relativeUrlLinkText"
					:url="relativeUrlLinkUrl"
					:classes="'control-container link-container'"
					:visible="relativeUrlLinkVisible"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLink
					ref="LinkPage_ExternalUrlLink"
					control-id="LinkPage_ExternalUrlLink"
					:hasClickEvent="externalUrlLinkHasClickEvent"
					:openInNewWindow="externalUrlLinkOpenInNewWindow"
					:text="externalUrlLinkText"
					:url="externalUrlLinkUrl"
					:classes="'control-container link-container'"
					:visible="externalUrlLinkVisible"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLink
					ref="LinkPage_EmptyUrlLink"
					control-id="LinkPage_EmptyUrlLink"
					:hasClickEvent="emptyUrlLinkHasClickEvent"
					:openInNewWindow="emptyUrlLinkOpenInNewWindow"
					:text="emptyUrlLinkText"
					:url="emptyUrlLinkUrl"
					:classes="'control-container link-container'"
					:visible="emptyUrlLinkVisible"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLink
					ref="LinkPage_RelativeUrlNewWindowLink"
					control-id="LinkPage_RelativeUrlNewWindowLink"
					:hasClickEvent="relativeUrlNewWindowLinkHasClickEvent"
					:openInNewWindow="relativeUrlNewWindowLinkOpenInNewWindow"
					:text="relativeUrlNewWindowLinkText"
					:url="relativeUrlNewWindowLinkUrl"
					:classes="'control-container link-container'"
					:visible="relativeUrlNewWindowLinkVisible"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLink
					ref="LinkPage_ExternalUrlNewWindowLink"
					control-id="LinkPage_ExternalUrlNewWindowLink"
					:hasClickEvent="externalUrlNewWindowLinkHasClickEvent"
					:openInNewWindow="externalUrlNewWindowLinkOpenInNewWindow"
					:text="externalUrlNewWindowLinkText"
					:url="externalUrlNewWindowLinkUrl"
					:classes="'control-container link-container'"
					:visible="externalUrlNewWindowLinkVisible"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLink
					ref="LinkPage_EmptyUrlNewWindowLink"
					control-id="LinkPage_EmptyUrlNewWindowLink"
					:hasClickEvent="emptyUrlNewWindowLinkHasClickEvent"
					:openInNewWindow="emptyUrlNewWindowLinkOpenInNewWindow"
					:text="emptyUrlNewWindowLinkText"
					:url="emptyUrlNewWindowLinkUrl"
					:classes="'control-container link-container'"
					:visible="emptyUrlNewWindowLinkVisible"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLink
					ref="LinkPage_RelativeUrlWithClickLink"
					control-id="LinkPage_RelativeUrlWithClickLink"
					:hasClickEvent="relativeUrlWithClickLinkHasClickEvent"
					:openInNewWindow="relativeUrlWithClickLinkOpenInNewWindow"
					:text="relativeUrlWithClickLinkText"
					:url="relativeUrlWithClickLinkUrl"
					:visible="relativeUrlWithClickLinkVisible"
					:classes="'control-container link-container'"
					@click="doneCallback => executeEvent({ handler: RelativeUrlWithClickLink_Click, eventId: '531147C8', doneCallback })"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLink
					ref="LinkPage_ExternalUrlWithClickLink"
					control-id="LinkPage_ExternalUrlWithClickLink"
					:hasClickEvent="externalUrlWithClickLinkHasClickEvent"
					:openInNewWindow="externalUrlWithClickLinkOpenInNewWindow"
					:text="externalUrlWithClickLinkText"
					:url="externalUrlWithClickLinkUrl"
					:visible="externalUrlWithClickLinkVisible"
					:classes="'control-container link-container'"
					@click="doneCallback => executeEvent({ handler: ExternalUrlWithClickLink_Click, eventId: '23809C52', doneCallback })"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLink
					ref="LinkPage_EmptyUrlWithClickLink"
					control-id="LinkPage_EmptyUrlWithClickLink"
					:hasClickEvent="emptyUrlWithClickLinkHasClickEvent"
					:openInNewWindow="emptyUrlWithClickLinkOpenInNewWindow"
					:text="emptyUrlWithClickLinkText"
					:url="emptyUrlWithClickLinkUrl"
					:visible="emptyUrlWithClickLinkVisible"
					:classes="'control-container link-container'"
					@click="doneCallback => executeEvent({ handler: EmptyUrlWithClickLink_Click, eventId: '88FFFEE2', doneCallback })"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLink
					ref="LinkPage_RelativeUrlNewWindowWithClickLink"
					control-id="LinkPage_RelativeUrlNewWindowWithClickLink"
					:hasClickEvent="relativeUrlNewWindowWithClickLinkHasClickEvent"
					:openInNewWindow="relativeUrlNewWindowWithClickLinkOpenInNewWindow"
					:text="relativeUrlNewWindowWithClickLinkText"
					:url="relativeUrlNewWindowWithClickLinkUrl"
					:visible="relativeUrlNewWindowWithClickLinkVisible"
					:classes="'control-container link-container'"
					@click="doneCallback => executeEvent({ handler: RelativeUrlNewWindowWithClickLink_Click, eventId: '76F243E2', doneCallback })"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLink
					ref="LinkPage_ExternalUrlNewWindowWithClickLink"
					control-id="LinkPage_ExternalUrlNewWindowWithClickLink"
					:hasClickEvent="externalUrlNewWindowWithClickLinkHasClickEvent"
					:openInNewWindow="externalUrlNewWindowWithClickLinkOpenInNewWindow"
					:text="externalUrlNewWindowWithClickLinkText"
					:url="externalUrlNewWindowWithClickLinkUrl"
					:visible="externalUrlNewWindowWithClickLinkVisible"
					:classes="'control-container link-container'"
					@click="doneCallback => executeEvent({ handler: ExternalUrlNewWindowWithClickLink_Click, eventId: '29C0934C', doneCallback })"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLink
					ref="LinkPage_EmptyUrlNewWindowWithClickLink"
					control-id="LinkPage_EmptyUrlNewWindowWithClickLink"
					:hasClickEvent="emptyUrlNewWindowWithClickLinkHasClickEvent"
					:openInNewWindow="emptyUrlNewWindowWithClickLinkOpenInNewWindow"
					:text="emptyUrlNewWindowWithClickLinkText"
					:url="emptyUrlNewWindowWithClickLinkUrl"
					:visible="emptyUrlNewWindowWithClickLinkVisible"
					:classes="'control-container link-container'"
					@click="doneCallback => executeEvent({ handler: EmptyUrlNewWindowWithClickLink_Click, eventId: 'E8FD3ACC', doneCallback })"
				/>
			</StackLayout>
		</div>
	</DefaultTemplate>
</template>

<script>
	import { mapActions } from 'pinia';
	import { useApplicationStore } from '@/stores/application.js';
	import { useEventsStore } from '@/stores/events.js';

	import DefaultTemplate from '@/views/templates/DefaultTemplate.vue';
	import StackLayout from '@/components/StackLayout.vue';
	import StadiumLink from '@/components/controls/StadiumLink.vue';

	export default {
		name: 'LinkPage',
		components: {
			DefaultTemplate,
			StackLayout,
			StadiumLink
		},

		props: {
			settings: Object,
			sessionVariables: Object
		},

		data() {
			return {
				relativeUrlLinkHasClickEvent: false,
				relativeUrlLinkOpenInNewWindow: false,
				relativeUrlLinkText: 'Relative URL with no Click event and in same tab',
				relativeUrlLinkUrl: '/StartPage',
				relativeUrlLinkVisible: true,

				externalUrlLinkHasClickEvent: false,
				externalUrlLinkOpenInNewWindow: false,
				externalUrlLinkText: 'External URL with no Click event and in same tab',
				externalUrlLinkUrl: 'http://www.google.com',
				externalUrlLinkVisible: true,

				emptyUrlLinkHasClickEvent: false,
				emptyUrlLinkOpenInNewWindow: false,
				emptyUrlLinkText: 'Empty URL with no Click event and in same tab',
				emptyUrlLinkUrl: null,
				emptyUrlLinkVisible: true,

				relativeUrlNewWindowLinkHasClickEvent: false,
				relativeUrlNewWindowLinkOpenInNewWindow: true,
				relativeUrlNewWindowLinkText: 'Relative URL with no Click event and in new tab',
				relativeUrlNewWindowLinkUrl: '/StartPage',
				relativeUrlNewWindowLinkVisible: true,

				externalUrlNewWindowLinkHasClickEvent: false,
				externalUrlNewWindowLinkOpenInNewWindow: true,
				externalUrlNewWindowLinkText: 'External URL with no Click event and in new tab',
				externalUrlNewWindowLinkUrl: 'http://www.google.com',
				externalUrlNewWindowLinkVisible: true,

				emptyUrlNewWindowLinkHasClickEvent: false,
				emptyUrlNewWindowLinkOpenInNewWindow: true,
				emptyUrlNewWindowLinkText: 'Empty URL with no Click event and in new tab',
				emptyUrlNewWindowLinkUrl: null,
				emptyUrlNewWindowLinkVisible: true,

				relativeUrlWithClickLinkHasClickEvent: true,
				relativeUrlWithClickLinkOpenInNewWindow: false,
				relativeUrlWithClickLinkText: 'Relative URL with Click event and in same tab',
				relativeUrlWithClickLinkUrl: '/StartPage',
				relativeUrlWithClickLinkVisible: true,

				externalUrlWithClickLinkHasClickEvent: true,
				externalUrlWithClickLinkOpenInNewWindow: false,
				externalUrlWithClickLinkText: 'External URL with Click event and in same tab',
				externalUrlWithClickLinkUrl: 'http://www.google.com',
				externalUrlWithClickLinkVisible: true,

				emptyUrlWithClickLinkHasClickEvent: true,
				emptyUrlWithClickLinkOpenInNewWindow: false,
				emptyUrlWithClickLinkText: 'Empty URL with Click event and in same tab',
				emptyUrlWithClickLinkUrl: null,
				emptyUrlWithClickLinkVisible: true,

				relativeUrlNewWindowWithClickLinkHasClickEvent: true,
				relativeUrlNewWindowWithClickLinkOpenInNewWindow: true,
				relativeUrlNewWindowWithClickLinkText: 'Relative URL with Click event and in new tab',
				relativeUrlNewWindowWithClickLinkUrl: '/StartPage',
				relativeUrlNewWindowWithClickLinkVisible: true,

				externalUrlNewWindowWithClickLinkHasClickEvent: true,
				externalUrlNewWindowWithClickLinkOpenInNewWindow: true,
				externalUrlNewWindowWithClickLinkText: 'External URL with Click event and in new tab',
				externalUrlNewWindowWithClickLinkUrl: 'http://www.google.com',
				externalUrlNewWindowWithClickLinkVisible: true,

				emptyUrlNewWindowWithClickLinkHasClickEvent: true,
				emptyUrlNewWindowWithClickLinkOpenInNewWindow: true,
				emptyUrlNewWindowWithClickLinkText: 'Empty URL with Click event and in new tab',
				emptyUrlNewWindowWithClickLinkUrl: null,
				emptyUrlNewWindowWithClickLinkVisible: true
			};
		},

		async mounted() {
			await this.executeEvent({ handler: this.LinkPage_Load, eventId: '35C89500' });

			const applicationStore = useApplicationStore();
			applicationStore.isAppBusy = false;
		},

		methods: {
			...mapActions(useEventsStore, ['executeEvent']),

			async LinkPage_Load() {},

			async RelativeUrlWithClickLink_Click() {
				console.log('RelativeUrlWithClickLink clicked');
			},

			async ExternalUrlWithClickLink_Click() {
				console.log('ExternalUrlWithClickLink clicked');
			},

			async EmptyUrlWithClickLink_Click() {
				console.log('EmptyUrlWithClickLink clicked');
			},

			async RelativeUrlNewWindowWithClickLink_Click() {
				console.log('RelativeUrlNewWindowWithClickLink clicked');
			},

			async ExternalUrlNewWindowWithClickLink_Click() {
				//simulate awaited async call
				await new Promise((resolve, _reject) => {
					setTimeout(() => {
						console.log('ExternalUrlNewWindowWithClickLink clicked');
						resolve();
					}, 2000);
				});
			},

			async EmptyUrlNewWindowWithClickLink_Click() {
				console.log('EmptyUrlNewWindowWithClickLink clicked');
			}
		}
	};
</script>
