<template>
	<DefaultTemplate v-bind="$props">
		<StackLayout>
			<StadiumLabel
				ref="ListControlPage_Label1"
				controlId="ListControlPage_Label1"
				:text="Label1Text"
				:visible="Label1Visible"
				:classes="Label1Classes"
			/>
		</StackLayout>

		<StackLayout>
			<StadiumDropDown
				ref="ListControlPage_DropDown1"
				controlId="ListControlPage_DropDown1"
				:options="DropDown1Options"
				:selectedValue="DropDown1SelectedValue"
				:readonly="DropDown1Readonly"
				:visible="DropDown1Visible"
				:hasChangeEvent="false"
				:classes="DropDown1Classes"
				:validators="[]"
				@update:selectedValue="newSelectedValue => (DropDown1SelectedValue = newSelectedValue)"
				@update:selectedOption="newSelectedOption => (DropDown1SelectedOption = newSelectedOption)"
			/>
		</StackLayout>

		<StackLayout>
			<StadiumCheckBoxList
				ref="ListControlPage_CheckBoxList1"
				controlId="ListControlPage_CheckBoxList1"
				:options="CheckBoxList1Options"
				:selectedValues="CheckBoxList1SelectedValues"
				:readonly="CheckBoxList1Readonly"
				:visible="CheckBoxList1Visible"
				:hasChangeEvent="false"
				:classes="CheckBoxList1Classes"
				:validators="[]"
				@update:selectedValues="newSelectedValues => (CheckBoxList1SelectedValues = newSelectedValues)"
				@update:selectedOptions="newSelectedOptions => (CheckBoxList1SelectedOptions = newSelectedOptions)"
			/>
		</StackLayout>

		<StackLayout>
			<StadiumRadioButtonList
				ref="ListControlPage_RadioButtonList1"
				controlId="ListControlPage_RadioButtonList1"
				:options="RadioButtonList1Options"
				:selectedValue="RadioButtonList1SelectedValue"
				:readonly="RadioButtonList1Readonly"
				:visible="RadioButtonList1Visible"
				:hasChangeEvent="false"
				:classes="RadioButtonList1Classes"
				:validators="[]"
				@update:selectedValue="newSelectedValue => (RadioButtonList1SelectedValue = newSelectedValue)"
				@update:selectedOption="newSelectedOption => (RadioButtonList1SelectedOption = newSelectedOption)"
			/>
		</StackLayout>
	</DefaultTemplate>
</template>

<script>
	import { mapActions } from 'pinia';
	import { useApplicationStore } from '@/stores/application.js';
	import { useEventsStore } from '@/stores/events.js';

	import DefaultTemplate from '@/views/templates/DefaultTemplate.vue';
	import StackLayout from '@/components/StackLayout.vue';
	import StadiumLabel from '@/components/controls/StadiumLabel.vue';
	import StadiumCheckBoxList from '@/components/controls/StadiumCheckBoxList.vue';
	import StadiumRadioButtonList from '@/components/controls/StadiumRadioButtonList.vue';
	import StadiumDropDown from '@/components/controls/StadiumDropDown.vue';

	export default {
		name: 'ListControlPage',
		components: {
			DefaultTemplate,
			StackLayout,
			StadiumLabel,
			StadiumCheckBoxList,
			StadiumRadioButtonList,
			StadiumDropDown
		},

		props: {
			settings: Object,
			sessionVariables: Object
		},

		data() {
			return {
				Label1Text: 'ListControlPage',
				Label1Visible: true,
				Label1Classes: 'control-container label-container',

				CheckBoxList1Options: [
					{ text: 'One', value: '1' },
					{ text: 'Two', value: '2' },
					{ text: 'Three', value: '3' }
				],
				CheckBoxList1SelectedValues: '1,3'.split(','),
				CheckBoxList1Readonly: false,
				CheckBoxList1Visible: true,
				CheckBoxList1Classes: 'control-container check-box-list-container',
				CheckBoxList1SelectedOptions: [],

				RadioButtonList1Options: [
					{ text: 'One', value: '1' },
					{ text: 'Two', value: '2' },
					{ text: 'Three', value: '3' }
				],
				RadioButtonList1SelectedValue: null,
				RadioButtonList1Readonly: false,
				RadioButtonList1Visible: true,
				RadioButtonList1Classes: 'control-container radio-button-list-container',
				RadioButtonList1SelectedOption: null,

				DropDown1Options: [
					{ text: 'One', value: '1' },
					{ text: 'Two', value: '2' },
					{ text: 'Three', value: '3' }
				],
				DropDown1SelectedValue: null,
				DropDown1Readonly: false,
				DropDown1Visible: true,
				DropDown1Classes: 'control-container drop-down-container',
				DropDown1SelectedOption: null
			};
		},

		async mounted() {
			await this.executeEvent({ handler: this.LabelPage_Load, eventId: '277C92AB' });

			const applicationStore = useApplicationStore();
			applicationStore.isAppBusy = false;
		},

		methods: {
			...mapActions(useEventsStore, ['executeEvent']),

			async LabelPage_Load() {}
		}
	};
</script>
