﻿<template>
	<DefaultTemplate v-bind="$props">
		<div class="NotificationPage-container">
			<StackLayout>
				<StadiumButton
					ref="NotificationPage_NotifyButton"
					control-id="NotificationPage_NotifyButton"
					:text="notifyButtonText"
					:tooltip="notifyButtonTooltip"
					:visible="notifyButtonVisible"
					:classes="'control-container button-container'"
					:hasClickEvent="true"
					@click="doneCallback => executeEvent({ handler: NotifyButton_Click, eventId: 'FD145065', doneCallback })"
				/>
			</StackLayout>
		</div>
	</DefaultTemplate>
</template>

<script>
	import { mapActions } from 'pinia';
	import { useApplicationStore } from '@/stores/application.js';
	import { useEventsStore } from '@/stores/events.js';

	import DefaultTemplate from '@/views/templates/DefaultTemplate.vue';
	import StackLayout from '@/components/StackLayout.vue';
	import StadiumButton from '@/components/controls/StadiumButton.vue';

	export default {
		name: 'NotificationPage',
		inject: ['$http', '$notification'],
		components: {
			DefaultTemplate,
			StackLayout,
			StadiumButton
		},

		data() {
			return {
				notifyButtonText: 'Notify',
				notifyButtonTooltip: null,
				notifyButtonVisible: true
			};
		},

		async mounted() {
			await this.executeEvent({ handler: this.NotificationPage_Load, eventId: '266C92AC' });

			const applicationStore = useApplicationStore();
			applicationStore.isAppBusy = false;
		},

		methods: {
			...mapActions(useEventsStore, ['executeEvent']),

			async NotificationPage_Load() {},

			async NotifyButton_Click() {
				//this.$toast.success('');
				this.$notification.showSuccess('yo', 'yi', { closeButton: 'button' });
			}
		}
	};
</script>
