<template>
	<DefaultTemplate v-bind="$props">
		<div class="Page1-container">
			<StackLayout>
				<StadiumLabel
					ref="Page1_SettingsLabel"
					control-id="Page1_SettingsLabel"
					:text="settingsLabelText"
					:visible="settingsLabelVisible"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLabel ref="Page1_LoadLabel" control-id="Page1_LoadLabel" :text="loadLabelText" :visible="loadLabelVisible" />
			</StackLayout>
		</div>
	</DefaultTemplate>
</template>

<script>
	import { mapActions } from 'pinia';
	import { useApplicationStore } from '@/stores/application.js';
	import { useEventsStore } from '@/stores/events.js';

	import DefaultTemplate from '@/views/templates/DefaultTemplate.vue';
	import StackLayout from '@/components/StackLayout.vue';
	import StadiumLabel from '@/components/controls/StadiumLabel.vue';

	export default {
		name: 'Page1',
		components: {
			DefaultTemplate,
			StackLayout,
			StadiumLabel
		},

		props: {
			settings: Object,
			sessionVariables: Object
		},

		data() {
			return {
				settingsLabelText: this.settings.setting2,
				settingsLabelVisible: true,

				loadLabelText: null,
				loadLabelVisible: true
			};
		},

		async mounted() {
			await this.executeEvent({ handler: this.Page1_Load, eventId: '7F457551' });

			const applicationStore = useApplicationStore();
			applicationStore.isAppBusy = false;

			console.log('Page1 Mounted');
		},

		methods: {
			...mapActions(useEventsStore, ['executeEvent']),

			async Page1_Load() {
				this.loadLabelText = 'Page1 loaded';
			}
		}
	};
</script>
