﻿<template>
	<DefaultTemplate v-bind="$props">
		<div class="PanelPage-container">
			<StackLayout>
				<StadiumPanel
					ref="PanelPage_DefaultPanel"
					control-id="PanelPage_DefaultPanel"
					:borderColour="defaultPanelBorderColour"
					:title="defaultPanelTitle"
					:visible="defaultPanelVisible"
					:classes="'control-container panel-container'"
				>
					<StackLayout>
						<StadiumLabel
							ref="PanelPage_Label1"
							control-id="PanelPage_Label1"
							:text="label1Text"
							:visible="label1Visible"
							:classes="'control-container label-container'"
						/>
					</StackLayout>
				</StadiumPanel>
			</StackLayout>

			<StackLayout>
				<StadiumPanel
					ref="PanelPage_TitlePanel"
					control-id="PanelPage_TitlePanel"
					:borderColour="titlePanelBorderColour"
					:title="titlePanelTitle"
					:visible="titlePanelVisible"
					:classes="'control-container panel-container'"
				>
					<StackLayout>
						<StadiumLabel
							ref="PanelPage_Label2"
							control-id="PanelPage_Label2"
							:text="label2Text"
							:visible="label2Visible"
							:classes="'control-container label-container'"
						/>
					</StackLayout>
				</StadiumPanel>
			</StackLayout>

			<StackLayout>
				<StadiumPanel
					ref="PanelPage_RedBorderPanel"
					control-id="PanelPage_RedBorderPanel"
					:borderColour="redBorderPanelBorderColour"
					:title="redBorderPanelTitle"
					:visible="redBorderPanelVisible"
					:classes="'control-container panel-container'"
				>
					<StackLayout>
						<StadiumLabel
							ref="PanelPage_Label3"
							control-id="PanelPage_Label3"
							:text="label3Text"
							:visible="label3Visible"
							:classes="'control-container label-container'"
						/>
					</StackLayout>
				</StadiumPanel>
			</StackLayout>
		</div>
	</DefaultTemplate>
</template>

<script>
	import { mapActions } from 'pinia';
	import { useApplicationStore } from '@/stores/application.js';
	import { useEventsStore } from '@/stores/events.js';

	import DefaultTemplate from '@/views/templates/DefaultTemplate.vue';
	import StackLayout from '@/components/StackLayout.vue';
	import StadiumLabel from '@/components/controls/StadiumLabel.vue';
	import StadiumPanel from '@/components/controls/StadiumPanel.vue';

	export default {
		name: 'PanelPage',
		components: {
			DefaultTemplate,
			StackLayout,
			StadiumLabel,
			StadiumPanel
		},

		props: {
			settings: Object,
			sessionVariables: Object
		},

		data() {
			return {
				label1Text: 'Label1',
				label1Visible: true,

				label2Text: 'Label2',
				label2Visible: true,

				label3Text: 'Label3',
				label3Visible: true,

				defaultPanelBorderColour: null,
				defaultPanelTitle: null,
				defaultPanelVisible: true,

				titlePanelBorderColour: null,
				titlePanelTitle: 'Title Panel',
				titlePanelVisible: true,

				redBorderPanelBorderColour: 'red',
				redBorderPanelTitle: 'Red Border Panel',
				redBorderPanelVisible: true
			};
		},

		async mounted() {
			await this.executeEvent({ handler: this.PanelPage_Load, eventId: '4384415E' });

			const applicationStore = useApplicationStore();
			applicationStore.isAppBusy = false;
		},

		methods: {
			...mapActions(useEventsStore, ['executeEvent']),

			async PanelPage_Load() {}
		}
	};
</script>
