<template>
	<DefaultTemplate v-bind="$props">
		<StackLayout>
			<StadiumRadioButtonList
				ref="RadioButtonListPage_RadioButtonList1"
				controlId="RadioButtonListPage_RadioButtonList1"
				:options="RadioButtonList1Options"
				:selectedValue="RadioButtonList1SelectedValue"
				:readonly="RadioButtonList1Readonly"
				:visible="RadioButtonList1Visible"
				:hasChangeEvent="false"
				:classes="RadioButtonList1Classes"
				:validators="[]"
				@update:selectedValue="newSelectedValue => (RadioButtonList1SelectedValue = newSelectedValue)"
				@update:selectedOption="newSelectedOption => (RadioButtonList1SelectedOption = newSelectedOption)"
				@update:options="newOptions => (RadioButtonList1Options = newOptions)"
			/>
		</StackLayout>

		<StackLayout>
			<StadiumButton
				ref="RadioButtonListPage_Button1"
				control-id="RadioButtonListPage_Button1"
				:text="Button1Text"
				:tooltip="Button1Tooltip"
				:visible="Button1Visible"
				:classes="Button1Classes"
				:hasClickEvent="Button1HasClickEvent"
				@click="doneCallback => executeEvent({ handler: Button1_Click, eventId: 'A8BF906A', doneCallback })"
			/>
		</StackLayout>
	</DefaultTemplate>
</template>

<script>
	import { mapActions } from 'pinia';
	import { useApplicationStore } from '@/stores/application.js';
	import { useEventsStore } from '@/stores/events.js';

	import DefaultTemplate from '@/views/templates/DefaultTemplate.vue';
	import StackLayout from '@/components/StackLayout.vue';
	import StadiumRadioButtonList from '@/components/controls/StadiumRadioButtonList.vue';
	import StadiumButton from '@/components/controls/StadiumButton.vue';

	export default {
		name: 'RadioButtonListPage',
		components: {
			DefaultTemplate,
			StackLayout,
			StadiumRadioButtonList,
			StadiumButton
		},

		props: {
			settings: Object,
			sessionVariables: Object
		},

		data() {
			return {
				RadioButtonList1Options: [
					{ text: 'One', value: '1' },
					{ text: 'Two', value: '2' },
					{ text: 'Three', value: '3' }
				],
				RadioButtonList1SelectedValue: null,
				RadioButtonList1Readonly: false,
				RadioButtonList1Visible: true,
				RadioButtonList1Classes: 'control-container radio-button-list-container',
				RadioButtonList1SelectedOption: null,

				Button1Text: 'Assign options',
				Button1Tooltip: null,
				Button1Visible: true,
				Button1Classes: 'control-container button-container',
				Button1HasClickEvent: true
			};
		},

		async mounted() {
			await this.executeEvent({ handler: this.RadioButtonListPage_Load, eventId: '279C92AC' });

			const applicationStore = useApplicationStore();
			applicationStore.isAppBusy = false;
		},

		methods: {
			...mapActions(useEventsStore, ['executeEvent']),

			async RadioButtonListPage_Load() {},

			Button1_Click() {
				this.RadioButtonList1Options = [
					{ text: 'Greetings', value: 'Hello' },
					{ text: 'Number', value: '3' },
					{ text: 'Python Ternary Operator', value: 'a if condition else b' }
				];
			}
		}
	};
</script>
