<template>
	<DefaultTemplate v-bind="$props">
		<div class="StartPage-container">
			<StackLayout>
				<StadiumGrid ref="StartPage_Grid1" controlId="StartPage_Grid1" :visible="true" :classes="'grid-layout'">
					<template v-for="(Repeater1_listItem, Repeater1_index) in repeater1List" :key="`StartPage_Repeater1-item${Repeater1_index}`">
						<StadiumGridRepeaterItem
							:ref="`StartPage_Repeater1-item${Repeater1_index}-cell0`"
							:controlId="`StartPage_Repeater1-item${Repeater1_index}-cell0`"
							:listItem="Repeater1_listItem"
							:visible="repeater1Visible"
							@itemload="
								(doneCallback, listItem) => executeEvent({ handler: () => Repeater1_ItemLoad(listItem), eventId: 'B7AF916H', doneCallback })
							"
						>
							<StadiumLabel
								:ref="`StartPage_Label2-item${Repeater1_index}`"
								:control-id="`StartPage_Label2-item${Repeater1_index}`"
								:text="Repeater1_listItem"
								:visible="label2Visible"
								:classes="label2Classes"
							/>
						</StadiumGridRepeaterItem>
						<StadiumGridRepeaterItem
							:ref="`StartPage_Repeater1-item${Repeater1_index}-cell1`"
							:controlId="`StartPage_Repeater1-item${Repeater1_index}-cell1`"
							:visible="repeater1Visible"
						>
							<StadiumLabel
								:ref="`StartPage_Label3-item${Repeater1_index}`"
								:control-id="`StartPage_Label3-item${Repeater1_index}`"
								:text="Repeater1_listItem"
								:visible="label3Visible"
								:classes="label3Classes"
							/>
						</StadiumGridRepeaterItem>
					</template>

					<div class="grid-item">
						<StadiumLabel
							ref="StartPage_Label4"
							control-id="StartPage_Label4"
							:text="label4Text"
							:visible="label4Visible"
							:classes="label4Classes"
						/>
					</div>
				</StadiumGrid>
			</StackLayout>
			<StackLayout>
				<StadiumDatePicker
					ref="StartPage_DatePicker1"
					controlId="StartPage_DatePicker1"
					:date="datePicker1Date"
					:hint="datePicker1Hint"
					:readonly="datePicker1Readonly"
					:visible="datePicker1Visible"
					:hasChangeEvent="datePicker1HasChangeEvent"
					:classes="datePicker1Classes"
					:validators="[]"
					@update:date="newDate => (datePicker1Date = newDate)"
					@change="
						(doneCallback, previousDate, selectedDate) =>
							executeEvent({ handler: () => DatePicker1_Change(previousDate, selectedDate), eventId: 'B7AF906H', doneCallback })
					"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumUploadFile
					ref="StartPage_UploadFile1"
					control-id="StartPage_UploadFile1"
					:visible="uploadFile1Visible"
					:classes="uploadFile1Classes"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumButton
					ref="StartPage_Button1"
					control-id="StartPage_Button1"
					:text="button1Text"
					:tooltip="button1Tooltip"
					:visible="button1Visible"
					:classes="button1Classes"
					:hasClickEvent="true"
					@click="doneCallback => executeEvent({ handler: Button1_Click, eventId: 'B7AF906A', doneCallback })"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumChart ref="StartPage_Chart1" control-id="StartPage_Chart1" :option="chart1Option" :classes="chart1Classes" />
			</StackLayout>

			<StackLayout>
				<StadiumCheckBox
					ref="StartPage_CheckBox1"
					control-id="StartPage_CheckBox1"
					:checked="checkBox1Checked"
					:readonly="checkBox1Readonly"
					:visible="checkBox1Visible"
					:hasChangeEvent="true"
					:classes="checkBox1Classes"
					@update:checked="newChecked => (checkBox1Checked = newChecked)"
					@change="doneCallback => executeEvent({ handler: CheckBox1_Change, eventId: 'B7AF906G', doneCallback })"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLabel
					ref="StartPage_SettingsLabel"
					control-id="StartPage_SettingsLabel"
					:text="settingsLabelText"
					:visible="settingsLabelVisible"
					:classes="settingsLabelClasses"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLabel
					ref="StartPage_LoadLabel"
					control-id="StartPage_LoadLabel"
					:text="loadLabelText"
					:visible="loadLabelVisible"
					:classes="loadLabelClasses"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLabel
					ref="StartPage_Label1"
					control-id="StartPage_Label1"
					:text="label1Text"
					:visible="label1Visible"
					:classes="label1Classes"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLabel
					ref="StartPage_SessionVariablesLabel"
					control-id="StartPage_SessionVariablesLabel"
					:text="sessionVariablesLabelText"
					:visible="sessionVariablesLabelVisible"
					:classes="sessionVariablesLabelClasses"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumLabel
					ref="StartPage_LoggedInUserLabel"
					control-id="StartPage_LoggedInUserLabel"
					:text="loggedInUserLabelText"
					:visible="loggedInUserLabelVisible"
					:classes="loggedInUserLabelClasses"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumButton
					ref="StartPage_Button2"
					control-id="StartPage_Button2"
					:text="button2Text"
					:tooltip="button2Tooltip"
					:visible="button2Visible"
					:classes="button2Classes"
					:hasClickEvent="true"
					@click="doneCallback => executeEvent({ handler: Button2_Click, eventId: '98842E0A', doneCallback })"
				/>
			</StackLayout>
		</div>
	</DefaultTemplate>
</template>

<script>
	import { mapActions } from 'pinia';
	import { useApplicationStore } from '@/stores/application.js';
	import { useEventsStore } from '@/stores/events.js';
	import { useSessionVariablesStore } from '@/stores/session-variables.js';

	import dayjs from 'dayjs';
	import dayjsCustomPlugin from '@/setup/dayjs-custom-plugin.js';
	dayjs.extend(dayjsCustomPlugin);

	import DefaultTemplate from '@/views/templates/DefaultTemplate.vue';
	import StackLayout from '@/components/StackLayout.vue';
	import StadiumLabel from '@/components/controls/StadiumLabel.vue';
	import StadiumButton from '@/components/controls/StadiumButton.vue';
	import StadiumCheckBox from '@/components/controls/StadiumCheckBox.vue';
	import StadiumChart from '@/components/controls/StadiumChart.vue';
	import StadiumUploadFile from '@/components/controls/StadiumUploadFile.vue';
	import StadiumDatePicker from '@/components/controls/StadiumDatePicker.vue';
	import StadiumGrid from '@/components/controls/StadiumGrid/StadiumGrid.vue';
	import StadiumGridRepeaterItem from '@/components/controls/StadiumGrid/StadiumGridRepeaterItem.vue';

	export default {
		name: 'StartPage',
		components: {
			DefaultTemplate,
			StackLayout,
			StadiumLabel,
			StadiumButton,
			StadiumCheckBox,
			StadiumChart,
			StadiumUploadFile,
			StadiumDatePicker,
			StadiumGrid,
			StadiumGridRepeaterItem
		},

		inject: ['$http', '$notification', '$debugLogger'],

		props: {
			settings: Object,
			sessionVariables: Object,
			loggedInUser: Object
		},

		data() {
			return {
				repeater1List: [],
				repeater1Visible: true,

				label2Text: 'This message comes from StartPage',
				label2Visible: true,
				label2Classes: 'control-container label-container',

				label3Text: 'This message comes from StartPage',
				label3Visible: true,
				label3Classes: 'control-container label-container',

				label4Text: 'This message comes from StartPage',
				label4Visible: true,
				label4Classes: 'control-container label-container',

				datePicker1Date: '',
				datePicker1Hint: 'Select a date',
				datePicker1Readonly: false,
				datePicker1Visible: true,
				datePicker1HasChangeEvent: true,
				datePicker1Classes: 'control-container date-picker-container',

				uploadFile1Visible: true,
				uploadFile1Classes: 'control-container upload-file-container',

				chart1Option: {
					xAxis: {
						data: ['2017-10-24', '2017-10-25', '2017-10-26', '2017-10-27']
					},
					yAxis: {},
					series: [
						{
							type: 'candlestick',
							data: [
								[20, 34, 10, 38],
								[40, 35, 30, 50],
								[31, 38, 33, 44],
								[38, 15, 5, 42]
							]
						}
					]
				},
				chart1Classes: 'control-container chart-container',

				checkBox1Checked: true,
				checkBox1Readonly: false,
				checkBox1Visible: true,
				checkBox1Classes: 'control-container checkbox-container',

				settingsLabelText: this.settings.setting1,
				settingsLabelVisible: true,
				settingsLabelClasses: 'control-container label-container',

				loadLabelText: null,
				loadLabelVisible: true,
				loadLabelClasses: 'control-container label-container',

				label1Text: 'This message comes from StartPage',
				label1Visible: true,
				label1Classes: 'control-container label-container',

				button1Text: 'Click Me',
				button1Tooltip: 'custom tooltip',
				button1Visible: true,
				button1Classes: 'control-container button-container',

				sessionVariablesLabelText: this.sessionVariables?.sessionVar1.name,
				sessionVariablesLabelVisible: true,
				sessionVariablesLabelClasses: 'control-container label-container',

				loggedInUserLabelText:
					this.loggedInUser?.id + ' ' + this.loggedInUser?.name + ' ' + this.loggedInUser?.email + ' ' + this.loggedInUser?.roles,
				loggedInUserLabelVisible: true,
				loggedInUserLabelClasses: 'control-container label-container',

				button2Text: 'Click Me',
				button2Tooltip: '',
				button2Visible: true,
				button2Classes: 'control-container button-container'
			};
		},

		async mounted() {
			await this.executeEvent({ handler: this.StartPage_Load, eventId: '091EF8D8' });

			const applicationStore = useApplicationStore();
			applicationStore.isAppBusy = false;

			console.log('StartPage Mounted');
		},

		methods: {
			...mapActions(useEventsStore, ['executeEvent']),

			async StartPage_Load() {
				this.loadLabelText = 'StartPage loaded';
				this.repeater1List = ['a', 'b'];
			},

			async Button1_Click() {
				this.$notification.showSuccess('yo', null, false);
				//console.log(dayjs().toDateTimeString());

				// await this.$http.post('api/Controls/CallWebService/Execute', {
				// 	headers: [
				// 		{ name: 'name1', value: 'value1' },
				// 		{ name: 'name2', value: 'value2' },
				// 		{ name: 'name3', value: 'value3' }
				// 	]
				// });
				// simulate awaited async call
				// await new Promise((resolve, _reject) => {
				// 	setTimeout(() => {
				// 		this.label1Text = 'Button1 clicked';
				// 		resolve();
				// 	}, 2000);
				// });
				// console.log('yo');
				// await new Promise((resolve, reject) => {
				// 	try {
				// 		this.$store.dispatch('messageBox/show', {
				// 			message: 'yo',
				// 			buttons: [
				// 				{
				// 					label: 'Ok',
				// 					eventHandler: () => {
				// 						this.$store.dispatch('messageBox/hide');
				// 						this.label1Text = 'yi';
				// 						resolve();
				// 					}
				// 				},
				// 				{
				// 					label: 'Cancel',
				// 					eventHandler: () => {
				// 						this.$store.dispatch('messageBox/hide');
				// 						this.label1Text = 'yu';
				// 						resolve();
				// 					}
				// 				}
				// 			]
				// 		});
				// 	} catch (error) {
				// 		reject(error);
				// 	}
				// });
			},

			async Button2_Click() {
				await useSessionVariablesStore.setSessionVariable({
					name: 'sessionVar1',
					value: { name: 'yo' }
				});

				this.sessionVariablesLabelText = this.sessionVariables?.sessionVar1.name;
			},

			async CheckBox1_Change() {
				await new Promise((resolve, _reject) => {
					setTimeout(() => {
						this.label1Text = 'CheckBox1 changed';
						resolve();
					}, 2000);
				});
			},

			DatePicker1_Change(previousDate, selectedDate) {
				console.log(`Previous: ${previousDate}`);
				console.log(`Selected: ${selectedDate}`);
			},

			Repeater1_ItemLoad(listVariable) {
				console.log(listVariable);
			}
		}
	};
</script>
