﻿<template>
	<DefaultTemplate v-bind="$props">
		<div class="TextBoxPage-container">
			<StackLayout>
				<StadiumLabel
					ref="TextBoxPage_ResultLabel"
					control-id="TextBoxPage_ResultLabel"
					:text="resultLabelText"
					:visible="resultLabelVisible"
					:classes="resultLabelClasses"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumTextBox
					ref="TextBoxPage_TextTextBox"
					control-id="TextBoxPage_TextTextBox"
					v-model:text="textTextBoxText"
					:hint="textTextBoxHint"
					:isPassword="textTextBoxIsPassword"
					:readonly="textTextBoxReadonly"
					:visible="textTextBoxVisible"
					:visibleLines="textTextBoxVisibleLines"
					:validators="textTextBoxValidators"
					:classes="textTextBoxClasses"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumButton
					ref="TextBoxPage_GetTextBoxTextButton"
					control-id="TextBoxPage_GetTextBoxTextButton"
					:text="getTextBoxTextButtonText"
					:tooltip="getTextBoxTextButtonTooltip"
					:visible="getTextBoxTextButtonVisible"
					:classes="getTextBoxTextButtonClasses"
					:hasClickEvent="true"
					@click="doneCallback => executeEvent({ handler: GetTextBoxTextButton_Click, eventId: '5A57AD4E', doneCallback })"
				/>

				<StadiumButton
					ref="TextBoxPage_SetTextBoxTextButton"
					control-id="TextBoxPage_SetTextBoxTextButton"
					:text="setTextBoxTextButtonText"
					:tooltip="setTextBoxTextButtonTooltip"
					:visible="setTextBoxTextButtonVisible"
					:classes="setTextBoxTextButtonClasses"
					:hasClickEvent="true"
					@click="doneCallback => executeEvent({ handler: SetTextBoxTextButton_Click, eventId: '68A7DC4F', doneCallback })"
				/>
			</StackLayout>
		</div>
	</DefaultTemplate>
</template>

<script>
	import { mapActions } from 'pinia';
	import { useApplicationStore } from '@/stores/application.js';
	import { useEventsStore } from '@/stores/events.js';

	import DefaultTemplate from '@/views/templates/DefaultTemplate.vue';
	import StackLayout from '@/components/StackLayout.vue';
	import StadiumLabel from '@/components/controls/StadiumLabel.vue';
	import StadiumButton from '@/components/controls/StadiumButton.vue';
	import StadiumTextBox from '@/components/controls/StadiumTextBox.vue';

	export default {
		name: 'TextBoxPage',
		components: {
			DefaultTemplate,
			StackLayout,
			StadiumLabel,
			StadiumButton,
			StadiumTextBox
		},

		props: {
			settings: Object,
			sessionVariables: Object
		},

		data() {
			return {
				resultLabelText: null,
				resultLabelVisible: true,
				resultLabelClasses: 'control-container label-container',

				textTextBoxHint: '',
				textTextBoxIsPassword: false,
				textTextBoxReadonly: false,
				textTextBoxText: 'initial text',
				textTextBoxVisible: true,
				textTextBoxVisibleLines: 1,
				textTextBoxValidators: [],
				textTextBoxClasses: 'control-container text-box-container',

				getTextBoxTextButtonText: 'Get TextBox Text',
				getTextBoxTextButtonTooltip: null,
				getTextBoxTextButtonVisible: true,
				getTextBoxTextButtonClasses: 'control-container button-container',

				setTextBoxTextButtonText: 'Set TextBox Text',
				setTextBoxTextButtonTooltip: null,
				setTextBoxTextButtonVisible: true,
				setTextBoxTextButtonClasses: 'control-container button-container'
			};
		},

		async mounted() {
			await this.executeEvent({ handler: this.TextBoxPage_Load, eventId: 'C04C5843' });

			const applicationStore = useApplicationStore();
			applicationStore.isAppBusy = false;
		},

		methods: {
			...mapActions(useEventsStore, ['executeEvent']),

			async TextBoxPage_Load() {},

			async GetTextBoxTextButton_Click() {
				this.resultLabelText = this.textTextBoxText;
			},

			async SetTextBoxTextButton_Click() {
				this.textTextBoxText = 'set text';
			}
		}
	};
</script>
