<template>
	<DefaultTemplate v-bind="$props">
		<div class="TypesPage-container">
			<StackLayout>
				<StadiumLabel
					ref="TypesPage_Label1"
					control-id="TypesPage_Label1"
					:text="label1Text"
					:visible="label1Visible"
					:classes="label1Classes"
				/>
			</StackLayout>

			<StackLayout>
				<StadiumButton
					ref="TypesPage_Button1"
					control-id="TypesPage_Button1"
					:text="button1Text"
					:tooltip="button1Tooltip"
					:visible="button1Visible"
					:classes="button1Classes"
					:hasClickEvent="true"
					@click="doneCallback => executeEvent({ handler: Button1_Click, eventId: '98845E0A', doneCallback })"
				/>
			</StackLayout>
		</div>
	</DefaultTemplate>
</template>

<script>
	import { mapActions } from 'pinia';
	import { useApplicationStore } from '@/stores/application.js';
	import { useEventsStore } from '@/stores/events.js';

	import DefaultTemplate from '@/views/templates/DefaultTemplate.vue';
	import StackLayout from '@/components/StackLayout.vue';
	import StadiumLabel from '@/components/controls/StadiumLabel.vue';
	import StadiumButton from '@/components/controls/StadiumButton.vue';

	import * as types from '@/types/types.js';
	import typesHelper from '@/types/types-helper.js';

	export default {
		name: 'TypesPage',
		components: {
			DefaultTemplate,
			StackLayout,
			StadiumLabel,
			StadiumButton
		},

		props: {
			settings: Object,
			sessionVariables: Object,
			loggedInUser: Object
		},

		data() {
			return {
				label1Text: 'This message comes from TypesPage',
				label1Visible: true,
				label1Classes: 'control-container label-container',

				button1Text: 'Click Me',
				button1Tooltip: '',
				button1Visible: true,
				button1Classes: 'control-container button-container'
			};
		},

		async mounted() {
			await this.executeEvent({ handler: this.TypesPage_Load, eventId: '092EF8D8' });

			const applicationStore = useApplicationStore();
			applicationStore.isAppBusy = false;

			console.log('TypesPage Mounted');
		},

		methods: {
			...mapActions(useEventsStore, ['executeEvent']),

			async TypesPage_Load() {},

			async Button1_Click() {
				var _Button1_46Click_values = {};

				_Button1_46Click_values['Person'] = new types.Person();
				_Button1_46Click_values['Dog'] = new types.Dog();
				_Button1_46Click_values['Cat'] = new types.Cat();

				_Button1_46Click_values['Dog']['Colour'] = 'black';
				_Button1_46Click_values['Cat']['Colour'] = 'white';

				_Button1_46Click_values['Person']['FirstName'] = 'John';
				_Button1_46Click_values['Person']['Pet'] = typesHelper.coerceValueForType('Dog', _Button1_46Click_values['Cat']);

				this.label1Text = `${_Button1_46Click_values['Person']['FirstName']} ${_Button1_46Click_values['Person']['Pet']['Colour']}`;

				console.log(Object.prototype.toString.call(_Button1_46Click_values['Cat']));
			}
		}
	};
</script>
