<template>
	<div class="default-template-container">
		<StackLayout>
			<StadiumMenu
				controlId="DefaultTemplate_Menu1"
				:direction="menu1Direction"
				:items="menu1Items"
				:visible="menu1Visible"
				:classes="menu1Classes"
			/>
		</StackLayout>

		<StackLayout>
			<StadiumLink
				ref="DefaultTemplate_StartPageLink"
				control-id="DefaultTemplate_StartPageLink"
				:hasClickEvent="startPageLinkHasClickEvent"
				:openInNewWindow="startPageLinkOpenInNewWindow"
				:text="startPageLinkText"
				:url="startPageLinkUrl"
				:visible="startPageLinkVisible"
				:classes="startPageLinkClasses"
			/>

			<StadiumLink
				ref="DefaultTemplate_Page1Link"
				control-id="DefaultTemplate_Page1Link"
				:hasClickEvent="page1LinkHasClickEvent"
				:openInNewWindow="page1LinkOpenInNewWindow"
				:text="page1LinkText"
				:url="page1LinkUrl"
				:visible="page1LinkVisible"
				:classes="page1LinkClasses"
			/>

			<StadiumLink
				ref="DefaultTemplate_LabelPageLink"
				control-id="DefaultTemplate_LabelPageLink"
				:hasClickEvent="labelPageLinkHasClickEvent"
				:openInNewWindow="labelPageLinkOpenInNewWindow"
				:text="labelPageLinkText"
				:url="labelPageLinkUrl"
				:visible="labelPageLinkVisible"
				:classes="labelPageLinkClasses"
			/>

			<StadiumLink
				ref="DefaultTemplate_TextBoxPageLink"
				control-id="DefaultTemplate_TextBoxPageLink"
				:hasClickEvent="textBoxPageLinkHasClickEvent"
				:openInNewWindow="textBoxPageLinkOpenInNewWindow"
				:text="textBoxPageLinkText"
				:url="textBoxPageLinkUrl"
				:visible="textBoxPageLinkVisible"
				:classes="textBoxPageLinkClasses"
			/>

			<StadiumLink
				ref="DefaultTemplate_DataGridPageLink"
				control-id="DefaultTemplate_DataGridPageLink"
				:hasClickEvent="dataGridPageLinkHasClickEvent"
				:openInNewWindow="dataGridPageLinkOpenInNewWindow"
				:text="dataGridPageLinkText"
				:url="dataGridPageLinkUrl"
				:visible="dataGridPageLinkVisible"
				:classes="dataGridPageLinkClasses"
			/>

			<StadiumLink
				ref="DefaultTemplate_LinkPageLink"
				control-id="DefaultTemplate_LinkPageLink"
				:hasClickEvent="linkPageLinkHasClickEvent"
				:openInNewWindow="linkPageLinkOpenInNewWindow"
				:text="linkPageLinkText"
				:url="linkPageLinkUrl"
				:visible="linkPageLinkVisible"
				:classes="linkPageLinkClasses"
			/>

			<StadiumLink
				ref="DefaultTemplate_PanelPageLink"
				control-id="DefaultTemplate_PanelPageLink"
				:hasClickEvent="panelPageLinkHasClickEvent"
				:openInNewWindow="panelPageLinkOpenInNewWindow"
				:text="panelPageLinkText"
				:url="panelPageLinkUrl"
				:visible="panelPageLinkVisible"
				:classes="panelPageLinkClasses"
			/>

			<StadiumLink
				ref="DefaultTemplate_LayoutGridPageLink"
				control-id="DefaultTemplate_LayoutGridPageLink"
				:hasClickEvent="layoutGridPageLinkHasClickEvent"
				:openInNewWindow="layoutGridPageLinkOpenInNewWindow"
				:text="layoutGridPageLinkText"
				:url="layoutGridPageLinkUrl"
				:visible="layoutGridPageLinkVisible"
				:classes="layoutGridPageLinkClasses"
			/>

			<StadiumLink
				ref="DefaultTemplate_LayoutTablePageLink"
				control-id="DefaultTemplate_LayoutTablePageLink"
				:hasClickEvent="layoutTablePageLinkHasClickEvent"
				:openInNewWindow="layoutTablePageLinkOpenInNewWindow"
				:text="layoutTablePageLinkText"
				:url="layoutTablePageLinkUrl"
				:visible="layoutTablePageLinkVisible"
				:classes="layoutTablePageLinkClasses"
			/>

			<StadiumLink
				ref="DefaultTemplate_NotificationPageLink"
				control-id="DefaultTemplate_NotificationPageLink"
				:hasClickEvent="notificationPageLinkHasClickEvent"
				:openInNewWindow="notificationPageLinkOpenInNewWindow"
				:text="notificationPageLinkText"
				:url="notificationPageLinkUrl"
				:visible="notificationPageLinkVisible"
				:classes="notificationPageLinkClasses"
			/>

			<StadiumLink
				ref="DefaultTemplate_ListControlPageLink"
				control-id="DefaultTemplate_ListControlPageLink"
				:hasClickEvent="listControlPageLinkHasClickEvent"
				:openInNewWindow="listControlPageLinkOpenInNewWindow"
				:text="listControlPageLinkText"
				:url="listControlPageLinkUrl"
				:visible="listControlPageLinkVisible"
				:classes="listControlPageLinkClasses"
			/>

			<StadiumLink
				ref="DefaultTemplate_TypesPageLink"
				control-id="DefaultTemplate_TypesPageLink"
				:hasClickEvent="typesPageLinkHasClickEvent"
				:openInNewWindow="typesPageLinkOpenInNewWindow"
				:text="typesPageLinkText"
				:url="typesPageLinkUrl"
				:visible="typesPageLinkVisible"
				:classes="typesPageLinkClasses"
			/>

			<StadiumLink
				ref="DefaultTemplate_RadioButtonListPageLink"
				control-id="DefaultTemplate_RadioButtonListPageLink"
				:hasClickEvent="radioButtonListPageLinkHasClickEvent"
				:openInNewWindow="radioButtonListPageLinkOpenInNewWindow"
				:text="radioButtonListPageLinkText"
				:url="radioButtonListPageLinkUrl"
				:visible="radioButtonListPageLinkVisible"
				:classes="radioButtonListPageLinkClasses"
			/>
		</StackLayout>

		<StackLayout>
			<StadiumLabel
				ref="DefaultTemplate_LoadLabel"
				control-id="DefaultTemplate_LoadLabel"
				:text="loadLabelText"
				:visible="loadLabelVisible"
				:classes="loadLabelClasses"
			/>
		</StackLayout>

		<div class="display-inline-block">
			<slot />
		</div>
	</div>
</template>

<script>
	import { mapActions } from 'pinia';
	import { useEventsStore } from '@/stores/events.js';

	import StackLayout from '@/components/StackLayout.vue';
	import StadiumLabel from '@/components/controls/StadiumLabel.vue';
	import StadiumLink from '@/components/controls/StadiumLink.vue';

	import StadiumMenu from '@/components/controls/StadiumMenu/StadiumMenu.vue';

	export default {
		name: 'DefaultTemplate',
		components: {
			StackLayout,
			StadiumLabel,
			StadiumLink,
			StadiumMenu
		},

		props: {
			settings: Object,
			sessionVariables: Object
		},

		data() {
			return {
				menu1Direction: 'LeftToRight',
				menu1Visible: true,
				menu1Classes: 'navbar navbar-default control-container menu-container',
				menu1Items: [
					{
						text: 'Page1',
						url: '/Page1',
						isRoot: true,
						isSeparator: false,
						items: []
					},
					{
						text: 'Page2',
						url: '/Page1',
						isRoot: true,
						isSeparator: false,
						items: []
					},
					{
						text: 'Page3',
						url: '/Page1',
						isRoot: true,
						isSeparator: false,
						items: []
					},
					{
						text: 'Page4',
						url: '/Page1',
						isRoot: true,
						isSeparator: false,
						items: []
					},
					{
						text: 'Page5',
						url: '/Page1',
						isRoot: true,
						isSeparator: false,
						items: []
					},
					{
						text: 'Page6',
						url: '/Page1',
						isRoot: true,
						isSeparator: false,
						items: []
					},
					{
						text: 'Page7',
						url: '/Page1',
						isRoot: true,
						isSeparator: false,
						items: []
					},
					{
						text: 'Page8',
						url: '/Page1',
						isRoot: true,
						isSeparator: false,
						items: []
					},
					{
						text: 'Page9',
						url: '/Page1',
						isRoot: true,
						isSeparator: false,
						items: []
					},
					{
						text: 'Page2',
						url: '/Page1',
						isRoot: true,
						isSeparator: false,
						items: [
							{
								text: 'Page2.1',
								url: '/Page1',
								isRoot: false,
								isSeparator: false,
								items: [
									{
										text: 'Page2.1.1',
										url: '/Page1',
										isRoot: false,
										isSeparator: false,
										items: []
									},
									{
										text: null,
										url: null,
										isRoot: false,
										isSeparator: true,
										items: []
									},
									{
										text: 'Page2.1.2',
										url: '/Page1',
										isRoot: false,
										isSeparator: false,
										items: []
									}
								]
							},
							{
								text: 'Page2.2',
								url: '/Page1',
								isRoot: false,
								isSeparator: false,
								items: [
									{
										text: 'Page2.2.1',
										url: '/Page1',
										isRoot: false,
										isSeparator: false,
										items: []
									},
									{
										text: 'Page2.2.2',
										url: '/Page1',
										isRoot: false,
										isSeparator: false,
										items: [
											{
												text: 'Page2.2.2.1',
												url: '/Page1',
												isRoot: false,
												isSeparator: false,
												items: []
											}
										]
									}
								]
							}
						]
					},
					{
						text: 'Page10',
						url: '/Page1',
						isRoot: true,
						isSeparator: false,
						items: []
					}
				],

				loadLabelText: null,
				loadLabelVisible: true,
				loadLabelClasses: 'control-container label-container',

				startPageLinkHasClickEvent: false,
				startPageLinkOpenInNewWindow: false,
				startPageLinkText: 'StartPage',
				startPageLinkUrl: '/StartPage',
				startPageLinkVisible: true,
				startPageLinkClasses: 'control-container link-container',

				page1LinkHasClickEvent: false,
				page1LinkOpenInNewWindow: false,
				page1LinkText: 'Page1',
				page1LinkUrl: '/Page1',
				page1LinkVisible: true,
				page1LinkClasses: 'control-container link-container',

				labelPageLinkHasClickEvent: false,
				labelPageLinkOpenInNewWindow: false,
				labelPageLinkText: 'LabelPage',
				labelPageLinkUrl: '/LabelPage',
				labelPageLinkVisible: true,
				labelPageLinkClasses: 'control-container link-container',

				textBoxPageLinkHasClickEvent: false,
				textBoxPageLinkOpenInNewWindow: false,
				textBoxPageLinkText: 'TextBoxPage',
				textBoxPageLinkUrl: '/TextBoxPage',
				textBoxPageLinkVisible: true,
				textBoxPageLinkClasses: 'control-container link-container',

				dataGridPageLinkHasClickEvent: false,
				dataGridPageLinkOpenInNewWindow: false,
				dataGridPageLinkText: 'DataGridPage',
				dataGridPageLinkUrl: '/DataGridPage',
				dataGridPageLinkVisible: true,
				dataGridPageLinkClasses: 'control-container link-container',

				linkPageLinkHasClickEvent: false,
				linkPageLinkOpenInNewWindow: false,
				linkPageLinkText: 'LinkPage',
				linkPageLinkUrl: '/LinkPage',
				linkPageLinkVisible: true,
				linkPageLinkClasses: 'control-container link-container',

				panelPageLinkHasClickEvent: false,
				panelPageLinkOpenInNewWindow: false,
				panelPageLinkText: 'PanelPage',
				panelPageLinkUrl: '/PanelPage',
				panelPageLinkVisible: true,
				panelPageLinkClasses: 'control-container link-container',

				layoutGridPageLinkHasClickEvent: false,
				layoutGridPageLinkOpenInNewWindow: false,
				layoutGridPageLinkText: 'LayoutGridPage',
				layoutGridPageLinkUrl: '/LayoutGridPage',
				layoutGridPageLinkVisible: true,
				layoutGridPageLinkClasses: 'control-container link-container',

				layoutTablePageLinkHasClickEvent: false,
				layoutTablePageLinkOpenInNewWindow: false,
				layoutTablePageLinkText: 'LayoutTablePage',
				layoutTablePageLinkUrl: '/LayoutTablePage',
				layoutTablePageLinkVisible: true,
				layoutTablePageLinkClasses: 'control-container link-container',

				notificationPageLinkHasClickEvent: false,
				notificationPageLinkOpenInNewWindow: false,
				notificationPageLinkText: 'NotificationPage',
				notificationPageLinkUrl: '/NotificationPage',
				notificationPageLinkVisible: true,
				notificationPageLinkClasses: 'control-container link-container',

				listControlPageLinkHasClickEvent: false,
				listControlPageLinkOpenInNewWindow: false,
				listControlPageLinkText: 'ListControlPage',
				listControlPageLinkUrl: '/ListControlPage',
				listControlPageLinkVisible: true,
				listControlPageLinkClasses: 'control-container link-container',

				typesPageLinkHasClickEvent: false,
				typesPageLinkOpenInNewWindow: false,
				typesPageLinkText: 'TypesPage',
				typesPageLinkUrl: '/TypesPage',
				typesPageLinkVisible: true,
				typesPageLinkClasses: 'control-container link-container',

				radioButtonListPageLinkHasClickEvent: false,
				radioButtonListPageLinkOpenInNewWindow: false,
				radioButtonListPageLinkText: 'RadioButtonListPage',
				radioButtonListPageLinkUrl: '/RadioButtonListPage',
				radioButtonListPageLinkVisible: true,
				radioButtonListPageLinkClasses: 'control-container link-container'
			};
		},

		async mounted() {
			await this.executeEvent({ handler: this.DefaultTemplate_Load, eventId: '91A5A195' });
			console.log('DefaultTemplate Mounted');
		},

		methods: {
			...mapActions(useEventsStore, ['executeEvent']),

			async DefaultTemplate_Load() {
				// simulate awaited async call
				//await new Promise((resolve, _reject) => {
				//  setTimeout(() => {
				//    this.loadLabelText = 'DefaultTemplate loaded';
				//    resolve();
				//  }, 1000);
				//});
				this.loadLabelText = 'DefaultTemplate loaded';
			}
		}
	};
</script>
